@import "../../../../../@fuse/scss/fuse";

:host {
    width: 100%;
}

.process-row {
    margin: 0 !important;
}

.process-params-container {
    background-color: rgba(197, 198, 203, 0.42) !important;
    padding: 1rem;
}

.process-params-buttons {
    padding-top: 1rem;
}

.process-logger {
    padding: 1rem;
    max-height: 50rem;
    overflow: auto;
}

.process-quick-logger {
    padding: 3rem;
    height: 10rem;
}

.process-quick-logger-info {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 2rem;
}

.mat-sidenav {
    background-color: #c5c6cb !important;
}

