<div class="autogen-table-form">
    <ng-container *ngIf="loadedReferences" >
        <mat-card class="autogen-mat-card" *ngIf="execMode === 'PROCESS'">
            <mat-card-header [ngClass]="fuseConfig.layout.navbar.primaryBackground" *ngIf="showTitle">
                <mat-card-title>
                    {{process.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="process-params-container">
                    <div class="row process-row" *ngIf="process.description" >
                        <div class="col-sm-12" [innerHtml]="process.description | safeHtml"></div>
                    </div>
                    <div class="row process-row" *ngFor="let row of rows">
                        <div *ngFor="let param of row" class="{{param.cssColspan}}">
                            <ng-container [ngSwitch]="param.reference.rtype">
                                <autogen-list *ngSwitchCase="'LIST'" [readOnly]="false" [allowBlank]="!param.mandatory" [label]="param.caption"
                                              [autogenForm]="autogenForm" [name]="param.name" [description]="param.description"
                                              [reference]="param.reference" (action)="doAction($event, param)">
                                </autogen-list>

                                <autogen-tabledir *ngSwitchCase="'TABLEDIR'" [readOnly]="false" [allowBlank]="!param.mandatory" [label]="param.caption"
                                                  [autogenForm]="autogenForm" [name]="param.name"  [description]="param.description"
                                                  [multiple]="param.paramType === 'MULTISELECT'" [reference]="param.reference"
                                                  (action)="doAction($event, param)">
                                </autogen-tabledir>

                                <autogen-table *ngSwitchCase="'TABLE'" [readOnly]="false" [label]="param.caption"
                                               [autogenForm]="autogenForm" [name]="param.name"  [description]="param.description"
                                               [reference]="param.reference">
                                </autogen-table>

                                <autogen-textbox *ngSwitchCase="'STRING'" [label]="param.caption" [autogenForm]="autogenForm"
                                                 [name]="param.name" [description]="param.description" (action)="doAction($event, param)">
                                </autogen-textbox>

                                <autogen-textbox *ngSwitchCase="'TEXT'"   [label]="param.caption" [autogenForm]="autogenForm"
                                                 [name]="param.name" [description]="param.description" (action)="doAction($event, param)">
                                </autogen-textbox>

                                <autogen-textbox *ngSwitchCase="'HTML'"   [label]="param.caption" [autogenForm]="autogenForm"
                                                 [name]="param.name" [description]="param.description" (action)="doAction($event, param)">
                                </autogen-textbox>

                                <autogen-textbox *ngSwitchCase="'INTEGER'" [label]="param.caption" [autogenForm]="autogenForm" [name]="param.name"
                                                 [editorType]="'integer'" [description]="param.description" (action)="doAction($event, param)"
                                                 [minValue]="param.valuemin" [maxValue]="param.valuemax">
                                </autogen-textbox>

                                <autogen-textbox *ngSwitchCase="'NUMBER'" [label]="param.caption" [autogenForm]="autogenForm" [name]="param.name"
                                                 [editorType]="'number'" [description]="param.description" (action)="doAction($event, param)">
                                </autogen-textbox>

                                <autogen-date *ngSwitchCase="'DATE'" [label]="param.caption" [autogenForm]="autogenForm"
                                              [name]="param.name" [description]="param.description" (action)="doAction($event, param)">
                                </autogen-date>

                                <autogen-file *ngSwitchCase="'FILE'" [label]="param.caption" [autogenForm]="autogenForm" (complete)="doComplete($event)"
                                              [name]="param.name" [description]="param.description" [accept]="'*'" (action)="doAction($event, param)"
                                              [fileName]="autogenForm.value[param.name]" [table]="'ad_process'">
                                </autogen-file>

                                <autogen-yesno *ngSwitchCase="'YESNO'" [label]="param.caption" [autogenForm]="autogenForm" [name]="param.name"></autogen-yesno>

                                <label *ngSwitchDefault>
                                    {{param.reference.rtype}} - {{param.caption}} - Sin implementar
                                </label>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row process-row process-params-buttons">
                        <div class="col-sm-12">
                            <div *ngIf="process.ptype === 'PROCESS'">
                                <vinco-button [buttonType]="process.gui.button" [color]="'warn'" [cssClass]="'form-content-actions-left'"
                                              [caption]="'AD_btnStop'" [icon]="'stop'" (click)="doCancel()" *ngIf="canCancel">
                                </vinco-button>
                                <vinco-button [buttonType]="process.gui.button" [color]="'accent'" [cssClass]="'form-content-actions-left'" *ngIf="canExecute"
                                              [caption]="'AD_btnExecute'" [icon]="'play_circle_outline'" (click)="doExecute('execute')">
                                </vinco-button>
                            </div>
                            <div *ngIf="process.ptype === 'REPORT'">
                                <vinco-button [buttonType]="process.gui.button" [color]="'accent'" [cssClass]="'form-content-actions-left'"
                                              [caption]="'AD_btnPrevisualize'" [icon]="'pageview'" (click)="doExecute('html')" *ngIf="process.html">
                                </vinco-button>
                                <vinco-button [buttonType]="process.gui.button" [color]="'primary'" [cssClass]="'form-content-actions-left'"
                                              [caption]="'AD_btnPdf'" [icon]="'picture_as_pdf'" (click)="doExecute('pdf')" *ngIf="process.pdf">
                                </vinco-button>
                                <vinco-button [buttonType]="process.gui.button" [color]="'primary'" [cssClass]="'form-content-actions-left'"
                                              [caption]="'AD_btnExcel'" [icon]="'description'" (click)="doExecute('xls')" *ngIf="process.excel">
                                </vinco-button>
                                <vinco-button [buttonType]="process.gui.button" [color]="'primary'" [cssClass]="'form-content-actions-left'"
                                              [caption]="'AD_btnWord'" [icon]="'text_format'" (click)="doExecute('doc')" *ngIf="process.word">
                                </vinco-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <mat-sidenav-container>
                        <mat-sidenav opened mode="side">
                            <button mat-icon-button color="warn" (click)="doDelete()" matTooltipPosition="right"
                                    matTooltip="{{'AD_hintProcessClear' | translate}}">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                            <br>
                            <button mat-icon-button color="accent" (click)="doTop()" matTooltipPosition="right"
                                    matTooltip="{{'AD_hintProcessScrollTop' | translate}}">
                                <mat-icon>vertical_align_top</mat-icon>
                            </button>
                            <br>
                            <button mat-icon-button color="accent" (click)="doBottom()" matTooltipPosition="right"
                                    matTooltip="{{'AD_hintProcessScrollBottom' | translate}}">
                                <mat-icon>vertical_align_bottom</mat-icon>
                            </button>
                            <br>
                            <button mat-icon-button color="primary" (click)="doToggleShow()" *ngIf="htmlPreview !== ''">
                                <mat-icon *ngIf="showLog && htmlPreview !== ''" matTooltipPosition="right"
                                          matTooltip="{{'AD_hintProcessShowReport' | translate}}">assignment</mat-icon>
                                <mat-icon *ngIf="!showLog" matTooltipPosition="right"
                                          matTooltip="{{'AD_hintProcessShowLog' | translate}}">assignment_late</mat-icon>
                            </button>
                        </mat-sidenav>
                        <mat-sidenav-content>
                            <div  #divViewer class="process-logger">
                                <div *ngIf="showLog">
                                    <div *ngFor="let log of serverLog" class="process-log-container">
                                        <div class="process-log-row">
                                            <mat-icon [inline]="true" *ngIf="log.logType === 'SUCCESS'" class="process-log-SUCCESS">done</mat-icon>
                                            <mat-icon [inline]="true" *ngIf="log.logType === 'ERROR'" class="process-log-ERROR">block</mat-icon>
                                            <mat-icon [inline]="true" *ngIf="log.logType === 'WARNING'" class="process-log-WARN">error_ouline</mat-icon>
                                        </div>
                                        <div class="process-log-{{log.logType}}">
                                            {{log.date | date: 'dd/MM/yy HH:mm:ss'}}
                                        </div>
                                        <div class="process-log-{{log.logType}}">
                                            {{log.info}}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!showLog" [innerHtml]="htmlPreview | safeHtml"></div>
                            </div>
                        </mat-sidenav-content>
                    </mat-sidenav-container>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="autogen-mat-card" *ngIf="execMode === 'PROCESS_QUICK'">
            <div class="process-quick-logger">
                <mat-progress-bar mode="indeterminate" *ngIf="quickExecuting"></mat-progress-bar>
                <div class="process-quick-logger-info" *ngIf="quickLog">
                    <div class="process-log-row">
                        <mat-icon [inline]="true" *ngIf="quickLog.logType === 'SUCCESS'" class="process-log-SUCCESS">done</mat-icon>
                        <mat-icon [inline]="true" *ngIf="quickLog.logType === 'ERROR'" class="process-log-ERROR">block</mat-icon>
                        <mat-icon [inline]="true" *ngIf="quickLog.logType === 'WARNING'" class="process-log-WARN">error_ouline</mat-icon>
                    </div>
                    <div class="process-log-INFO">
                        {{quickLog.info}}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

