<div class="autogen-table-form">
    <ng-container *ngIf="loadedReferences">
        <mat-card class="autogen-mat-card">
            <!-- Form Header -->
            <mat-card-header [ngClass]="fuseConfig.layout.navbar.primaryBackground">
                <mat-card-title>
                    <div class="autogen-form-header card-header">
                        <mat-label class="autogen-form-title">{{formCaption}}</mat-label>
                        <div class="commands">
                            <autogen-form-header [relatedTab]="tab" [showInPopup]="showInPopup" [showNav]="(!showInPopup || tab.tab.tablevel > 0) && selectedItems.items !== null" [showAudit]="!isNew" (navFirst)="doNavFirst()" (navPrevious)="doNavPrevious()" (save)="doSave(null)"
                                (cancel)="doCancel()" (navNext)="doNavNext()" (navLast)="doNavLast()" (close)="doClose()" (new)="doNew()" (list)="doList()" (audit)="doAudit()">
                            </autogen-form-header>
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>

            <!-- Form content -->
            <div class="mat-elevation-z8" fxLayout="row">
                <mat-drawer-container fxFill [hasBackdrop]="false">
                    <!-- Tabs panels -->
                    <mat-drawer-content>
                        <mat-tab-group (selectedTabChange)="doSelectedTabChange($event)">

                            <!-- Tab General -->
                            <mat-tab label="{{'AD_labelTabGeneral' | translate}}" *ngIf="tab.tab.defaultEditor">
                                <div class="autogen-form-content" [ngClass]="{ 'autogen-form-dialog-container': showInPopup }">
                                    <!-- Form fields -->
                                    <div class="autogen-form-content-field" *ngIf="autogenForm" [ngStyle]="{ 'max-height': contentFieldStyleHeight, 'overflow': contentFieldStyleOverflow }">
                                        <autogen-form-editor [autogenForm]="autogenForm" [fields]="fields" [tab]="tab" [currentItem]="currentItem" [serverErrorMsg]="serverErrorMsg" [showInPopup]="showInPopup">
                                        </autogen-form-editor>
                                    </div>
                                    <!-- Form buttons -->
                                    <div class="autogen-form-content-actions">
                                        <ng-container *ngFor="let btn of customButtons">
                                            <vinco-button *ngIf="btn.runtimeDisplayed" [buttonType]="tab.tab.gui.button" [color]="'primary'" [cssClass]="'form-content-actions-left'" [caption]="btn.caption" (click)="doCustomAction(btn)" [icon]="btn.relatedColumn.reference.refButton ? btn.relatedColumn.reference.refButton.icon : null">
                                            </vinco-button>
                                        </ng-container>

                                        <vinco-button [buttonType]="'mat-raised-button'" [color]="'warn'" [cssClass]="'form-content-actions-right'" [icon]="'clear'" (click)="doCancel()"></vinco-button>

                                        <vinco-button [buttonType]="'mat-raised-button'" [color]="'accent'" [cssClass]="'form-content-actions-right'" [icon]="'done_outline'" (click)="doSave(null)"></vinco-button>
                                    </div>
                                </div>
                            </mat-tab>

                            <!-- Others tabs -->
                            <ng-container *ngIf="!isNew || usedWhenNew">
                                <ng-container *ngFor="let tab of tab.visibleTabs">
                                    <mat-tab label="{{tab.name}}" *ngIf="tab.displayed">
                                        <div [ngClass]="{ 'autogen-form-dialog-container': showInPopup }">
                                            <autogen-crud *ngIf="currentItemCompleted" [relatedTab]="tab" [parentItem]="currentItem" [usedInChild]="usedInChild" [loadOnInit]="false" [showInPopup]="showInPopup">
                                            </autogen-crud>
                                        </div>
                                    </mat-tab>
                                </ng-container>
                            </ng-container>
                        </mat-tab-group>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </mat-card>
    </ng-container>
</div>