@import "../../../../../@fuse/scss/fuse";

:host {
    width: 100%;
}

.autogen-form-header {
    display: grid;
    grid-template-columns: 1fr 33rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.autogen-form-title {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3rem;
    padding-top: 0.5rem;
}

.autogen-form-list-loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.autogen-form-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6rem;
    grid-column-gap: 0px;
    grid-row-gap: 2px;
}

.autogen-form-content-field {
    padding: 1rem 2rem;
    min-height: 42rem;
}

.autogen-form-content-actions {
    padding: 1rem 2rem;
    background-color: mat-color($mat-blue-gray, 100);
    border-top: 1px solid mat-color($mat-blue-gray, 200);
}

.autogen-form-content-groups {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.autogen-form-content-groups-body {
    padding: 2rem
}

.autogen-form-error-container {
    margin-top: 1.5rem;
}

.autogen-form-dialog-container {
    max-height: 60rem;
    overflow: auto;
}

.mat-expansion-panel-header-title {
    font-weight: 600;
    font-size: 2rem;
}
