<div class="page-layout carded fullwidth tabbed">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <div *ngIf="tabs.length === 0" class="tab-manager-welcome">
                    <custom-welcome></custom-welcome>
                </div>
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selectedIndexChange($event)" *ngIf="tabs.length > 0">

                    <mat-tab *ngFor="let tab of tabs; let index = index" >
                        <ng-template mat-tab-label>
                            <div fxLayout="row" fxLayoutAlign="start start" >
                                <label>{{tab.caption}}</label>
                            </div>
                            <mat-icon  fxFlexOffset="15" (click)="closeTab(index)">close</mat-icon>
                        </ng-template>
                        <div class="tab-content">

                            <ng-container *ngIf="tab.mode === 'WINDOW'">
                                <autogen-crud [relatedTab]="tab.window.mainTab" [loadOnInit]="true"></autogen-crud>
                            </ng-container>

                            <ng-container *ngIf="tab.mode === 'MANUAL'">
                                <custom-window [moduleName]="tab.manualModule" [winName]="tab.manualWindow"></custom-window>
                            </ng-container>

                            <ng-container *ngIf="tab.mode === 'PROCESS'">
                                <autogen-process [process]="tab.process"></autogen-process>
                            </ng-container>

                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
