:host{
    width: 100%;
}

.tab-manager-welcome {
    padding: 1rem;
    width: 100%;
}

.mat-tab-label-content {
    width: 100% !important;
}
.mat-tab-labels .mat-tab-label-content {
    align-items: start;
    width: 100% !important;
}
mat-tab-group {
    width: 100%;
}