<div class="audit-row-container">
    <ng-container *ngIf="properties">
        <div class="audit-row">
            <span class="audit-label">{{'AD_labelAuditId' | translate}}:</span><br/>
            <span class="audit-value">{{item.id}}</span>
        </div>
        <div class="audit-row-2">
            <div>
                <span class="audit-label">{{'AD_labelAuditCreated' | translate}}:</span><br/>
                <span class="audit-value">{{properties.created | date:'dd/MM/yyyy HH:mm:ss'}}</span><br/>
                <span class="audit-value">{{properties.createdBy}}</span>
            </div>
            <div>
                <span class="audit-label">{{'AD_labelAuditUpdated' | translate}}:</span><br/>
                <span class="audit-value">{{properties.updated | date:'dd/MM/yyyy HH:mm:ss'}}</span><br/>
                <span class="audit-value">{{properties.updatedBy}}</span>
            </div>
        </div>

        <div *ngIf="table.audit" class="audit-row-2 audit-row-detail">
            <div>
                <div class="audit-row-filter">
                    <div>
                        <autogen-date [label]="'AD_labelCreated' | translate" [autogenForm]="filterForm" [name]="'created'"></autogen-date>
                    </div>
                    <div>
                        <autogen-table [readOnly]="false" [allowBlank]="true" [label]="'AD_labelUserName' | translate" *ngIf="referenceUser"
                                       [autogenForm]="filterForm" [name]="'idUser'" [reference]="referenceUser">
                        </autogen-table>
                    </div>
                </div>
                <div class="audit-row-items-container">
                    <div *ngIf="auditItems.length === 0" class="autogen-table-empty">
                        <notification-panel [mode]="'warning'" [message]="'AD_msgDataEmpty' | translate"></notification-panel>
                    </div>

                    <div *ngFor="let item of auditItems" class="audit-row-item" (click)="showAudit(item)" [ngClass]="{ 'audit-row-item-selected': selectedItem.id === item.id }">
                        {{item.user.name}}<br/>
                        <em>{{item.created | date:'dd/MM/yyyy HH:mm:ss'}}</em>
                    </div>
                </div>
            </div>
            <div class="audit-row-diff">
                <ng-container [ngSwitch]="selectedItem.operation" *ngIf="selectedItem">

                    <ng-container *ngSwitchCase="'I'">
                        <notification-panel [message]="'AD_labelAuditNew' | translate" [mode]="'success'"></notification-panel>
                    </ng-container>

                    <ng-container *ngSwitchCase="'D'">
                        <notification-panel [message]="'AD_labelAuditDelete' | translate" [mode]="'error'"></notification-panel>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        <div *ngIf="modifiedColumns.length === 0">{{'AD_labelAuditNoDifferences' | translate}}</div>
                        <div *ngFor="let col of modifiedColumns" class="audit-row-diff-field">
                            <strong>{{col.field.caption}}</strong><br/>
                            <span class="audit-row-diff-value text text-danger">{{col.oldValue}}</span><br/>
                            <span class="audit-row-diff-value text text-success">{{col.newValue}}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
