.audit-row-container {
    width: 60rem;
}

.audit-row {
    margin-bottom: 1rem;
}

.audit-label {
    font-weight: bold;
}

.audit-value {
    font-style: italic;
    padding-left: 2rem;
}

.audit-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.audit-row-detail {
    margin-top: 1rem;
    border-top: 1px solid #CCCCCC;
}

.audit-row-filter {
    display: grid;
    grid-template-columns: 12rem 17rem;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.audit-row-items-container {
    height: 25rem;
    overflow: auto;
}

.audit-row-item {
    border-top: 1px solid #dddddd;
    padding-left: 1rem;
    cursor: pointer;
}

.audit-row-item:hover {
    background-color: #0e70ca;
    color: white;
}

.audit-row-item-selected {
    background-color: #c8def3;
}

.audit-row-diff {
    border-left: 1px solid #dddddd;
    padding: 1rem;
    height: 31.5rem;
    overflow: auto;
}

.audit-row-diff-value {
    padding-left: 2rem;
}

.audit-row-diff-field {
    border-bottom: 1px dotted #dddddd;
}