<ng-container *ngIf="!readOnly">
    <button mat-button mat-raised-button color="warn" class="imageencode-button" *ngIf="hasImage" (click)="doDelete()">
        <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-button mat-raised-button color="primary" class="imageencode-button" (click)="doClick()">
        <mat-icon>publish</mat-icon>
        {{label}}
    </button>
    <mat-icon *ngIf="description" (click)="onHelp()" class="editor-cursor">help_outline</mat-icon>
    <mat-hint *ngIf="hint">{{hint}}</mat-hint>
    <mat-error class="autogen-file-info" *ngIf="autogenForm.get(name).touched && autogenForm.get(name).errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
    <mat-error class="autogen-file-info" *ngIf="error">{{error | translate}}</mat-error>
    <input type="file" id="{{name}}" name="name" accept="{{accept}}" style="display:none;"/>
    <img class="imageencode-img" *ngIf="hasImage" src="{{value}}">
</ng-container>

<ng-container *ngIf="readOnly">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <input [formControlName]="name" matInput readonly class="field-read-only" style="display:none;">
        <img class="imageencode-img" *ngIf="hasImage" src="{{value}}">
    </mat-form-field>
</ng-container>

<!--

https://coderwall.com/p/jzdmdq/loading-image-from-local-file-into-javascript-and-getting-pixel-data
https://web.dev/read-files/
http://www.bricomadera.es/category/armarios-forrados/
-->
