<div class="fields-row-grid {{row.cssGrid}}" [style.grid-template-columns]="row.cssGridTemplateColumns | safeStyle" *ngFor="let row of rows">
    <div *ngFor="let fld of row.columns" class="fields {{fld.cssGridArea}}">
        <ng-container [ngSwitch]="fld.columnReferenceType" *ngIf="fld.runtimeDisplayed">

            <ng-container *ngSwitchCase="'YESNO'">
                <autogen-yesno [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption"
                               [autogenForm]="autogenForm" [name]="fld.columnName" [value]="item[fld.columnName]">
                </autogen-yesno>
            </ng-container>

            <ng-container *ngSwitchCase="'DATE'">
                <autogen-date [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                              [autogenForm]="autogenForm" [name]="fld.columnName"
                              [description]="fld.relatedColumn.description" (action)="doAction($event, fld)">
                </autogen-date>
            </ng-container>

            <ng-container *ngSwitchCase="'TIMESTAMP'">
                <autogen-date [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                              [autogenForm]="autogenForm" [name]="fld.columnName"
                              [description]="fld.relatedColumn.description" (action)="doAction($event, fld)">
                </autogen-date>
            </ng-container>

            <ng-container *ngSwitchCase="'LIST'">
                <autogen-list [readOnly]="fld.runtimeReadonly" [allowBlank]="!fld.relatedColumn.mandatory" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                              [autogenForm]="autogenForm" [name]="fld.columnName" [reference]="fld.relatedColumn.reference"
                              [description]="fld.relatedColumn.description" (action)="doAction($event, fld)">
                </autogen-list>
            </ng-container>

            <ng-container *ngSwitchCase="'TABLEDIR'">
                <autogen-tabledir [readOnly]="fld.runtimeReadonly" [allowBlank]="!fld.relatedColumn.mandatory" [editMode]="!showInPopup" [appearance]="gui.formField" [label]="fld.caption"
                                  [parentTableId]="table.idTable" [autogenForm]="autogenForm" [name]="fld.columnName" [reference]="fld.relatedColumn.reference" [item]="item"
                                  [hint]="fld.hint" [description]="fld.relatedColumn.description" (action)="doAction($event, fld)" (openWindow)="doOpenWindow($event, fld)">
                </autogen-tabledir>
            </ng-container>

            <ng-container *ngSwitchCase="'TABLE'">
                <autogen-table [readOnly]="fld.runtimeReadonly" [allowBlank]="!fld.relatedColumn.mandatory" [editMode]="!showInPopup" [appearance]="gui.formField" [label]="fld.caption"
                               [parentTableId]="table.idTable" [autogenForm]="autogenForm" [name]="fld.columnName" [reference]="fld.relatedColumn.reference" [item]="item"
                               [hint]="fld.hint" [description]="fld.relatedColumn.description" (action)="doAction($event, fld)" (openWindow)="doOpenWindow($event, fld)">
                </autogen-table>
            </ng-container>

            <ng-container *ngSwitchCase="'STRING'">
                <autogen-textbox [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                 [autogenForm]="autogenForm" [name]="fld.columnName" [editorType]="'text'"
                                 [placeholder]="fld.placeholder" [description]="fld.relatedColumn.description"
                                 [translatable]="fld.relatedColumn.translatable" (action)="doAction($event, fld)">
                </autogen-textbox>
            </ng-container>

            <ng-container *ngSwitchCase="'TEXT'">
                <autogen-textbox [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                 [autogenForm]="autogenForm" [name]="fld.columnName" [editorType]="'textarea'"
                                 [placeholder]="fld.placeholder" [description]="fld.relatedColumn.description"
                                 [translatable]="fld.relatedColumn.translatable" (action)="doAction($event, fld)">
                </autogen-textbox>
            </ng-container>

            <ng-container *ngSwitchCase="'HTML'">
                <autogen-html [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                              [autogenForm]="autogenForm" [name]="fld.columnName" [mandatory]="fld.relatedColumn.mandatory"
                              [placeholder]="fld.placeholder" [description]="fld.relatedColumn.description"
                              [translatable]="fld.relatedColumn.translatable" (action)="doAction($event, fld)">
                </autogen-html>
            </ng-container>

            <ng-container *ngSwitchCase="'EMAIL'">
                <autogen-textbox [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                 [autogenForm]="autogenForm" [name]="fld.columnName" [editorType]="'email'"
                                 [placeholder]="fld.placeholder" [description]="fld.relatedColumn.description" (action)="doAction($event, fld)">
                </autogen-textbox>
            </ng-container>

            <ng-container *ngSwitchCase="'PASSWORD'">
                <autogen-textbox [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                 [autogenForm]="autogenForm" [name]="fld.columnName" [editorType]="'password'"
                                 [placeholder]="fld.placeholder" [description]="fld.relatedColumn.description"
                                 [translatable]="fld.relatedColumn.translatable" (action)="doAction($event, fld)">
                </autogen-textbox>
            </ng-container>

            <ng-container *ngSwitchCase="'INTEGER'">
                <autogen-textbox [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                 [autogenForm]="autogenForm" [name]="fld.columnName" [editorType]="'integer'" [placeholder]="fld.placeholder"
                                 [minValue]="fld.valuemin" [maxValue]="fld.valuemax" [description]="fld.relatedColumn.description"
                                 (action)="doAction($event, fld)">
                </autogen-textbox>
            </ng-container>

            <ng-container *ngSwitchCase="'NUMBER'">
                <autogen-textbox [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                 [autogenForm]="autogenForm" [name]="fld.columnName" [editorType]="'number'" [placeholder]="fld.placeholder"
                                 [minValue]="fld.valuemin" [maxValue]="fld.valuemax" [description]="fld.relatedColumn.description"
                                 (action)="doAction($event, fld)">
                </autogen-textbox>
            </ng-container>

            <ng-container *ngSwitchCase="'IMAGE'">
                <autogen-file [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                              [autogenForm]="autogenForm" [name]="fld.columnName" [fileName]="autogenForm.value[fld.columnName]"
                              [description]="fld.relatedColumn.description" [accept]="'image/*'" [table]="table" [rowId]="rowId"
                              (complete)="doComplete($event)" (delete)="doDelete(fld)" (action)="doAction($event, fld)">
                </autogen-file>
            </ng-container>

            <ng-container *ngSwitchCase="'IMAGE_ENCODE'">
                <autogen-imageencode [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                                     [autogenForm]="autogenForm" [name]="fld.columnName" [value]="item[fld.columnName]">
                </autogen-imageencode>
            </ng-container>

            <ng-container *ngSwitchCase="'FILE'">
                <autogen-file [readOnly]="fld.runtimeReadonly" [appearance]="gui.formField" [label]="fld.caption" [hint]="fld.hint"
                              [autogenForm]="autogenForm" [name]="fld.columnName" [fileName]="autogenForm.value[fld.columnName]"
                              [description]="fld.relatedColumn.description" [accept]="'*'" [table]="table" [rowId]="rowId"
                              (complete)="doComplete($event)" (delete)="doDelete(fld)" (action)="doAction($event, fld)">
                </autogen-file>
            </ng-container>

            <ng-container *ngSwitchCase="'IMAGEVIEW'"><img [src]="item[fld.columnName]" width="40%"/></ng-container>
            <ng-container *ngSwitchCase="'FILEURL'"><a [href]="item[fld.columnName]">Link</a></ng-container>

            <ng-container *ngSwitchDefault>
                <mat-form-field [appearance]="gui.formField" style="width: 100%">
                    <mat-label>{{fld.caption}}</mat-label>
                    <input matInput value="{{fld.relatedColumn.reference.rtype}} - Sin implementar">
                </mat-form-field>
            </ng-container>

        </ng-container>
    </div>
</div>
