<div class="autogen-table-form">
    <ng-container *ngIf="loadedReferences" >
        <mat-card class="autogen-mat-card">
            <!-- Table Header -->
            <mat-card-header [ngClass]="fuseConfig.layout.navbar.primaryBackground">
                <mat-card-title>
                    <div class="autogen-table-header">
                        <div>
                            <mat-label>
                                <button *ngIf="tab.tab.hasFilters && tab.tab.gui.filterMode === 'filter-side-auto'"
                                        class="mat-icon-button autogen-table-title-button" (click)="drawer.toggle()">
                                    <span class="mat-button-wrapper">
                                        <mat-icon class="secondary-text mat-icon material-icons mat-icon-no-color" aria-hidden="true">menu</mat-icon>
                                    </span>
                                </button>
                                <div class="autogen-table-title">{{title}}</div>
                            </mat-label>
                        </div>
                        <div>
                            <div class="autogen-table-page-selector" *ngIf="mode !== 'multiselect'">
                                <mat-select [(value)]="page.size" (selectionChange)="doChangePageSize()">
                                    <mat-option *ngFor="let current of pageSizeOptions" [value]="current">{{current}}</mat-option>
                                </mat-select>
                            </div>
                            <autogen-datatable-header
                                [relatedTab]="tab" [btnSortable]="sortable" [btnMultiSelect]="multiSelect" [mode]="mode"
                                (listItems)="doListItems()" (refresh)="doRefresh()" (exportItem)="doExportData()"
                                (sort)="doSort()" (multiSelect)="doMultiSelect()" (newItem)="doNewItem()" (jsCode)="doJSCode($event)"
                                (editItem)="doEditItem()" (deleteItem)="doDelete()" (selectColumns)="doSelectColumns()"
                                (multiSelectSave)="multiSelectSave()" (multiSelectCancel)="multiSelectCancel()">
                            </autogen-datatable-header>
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>

            <!-- Table content -->
            <div class="mat-elevation-z8 " fxLayout="row" >
                <mat-drawer-container fxFill [hasBackdrop]="false" autosize>
                    <!-- Filter panel -->
                    <mat-drawer #drawer [mode]="'side'" [opened]="tab.tab.gui.filterMode === 'filter-side'" class="primary-50-bg"
                                *ngIf="mode !== 'multiselect' && tab.tab.gui.filterMode !== 'filter-top' && tab.tab.hasFilters">
                        <autogen-filter *ngIf="tab.tab.gui.filterMode === 'filter-side' || tab.tab.gui.filterMode === 'filter-side-auto'"
                                        [orientation]="'vertical'" [relatedTab]="tab.tab"
                                        [mode]="mode" [parentItem]="parentItem" (onFilterChanged)="filterChanged($event)">
                        </autogen-filter>
                    </mat-drawer>

                    <mat-drawer-content>
                        <!-- Filter panel -->
                        <autogen-filter *ngIf="mode !== 'multiselect' && tab.tab.gui.filterMode === 'filter-top'" [relatedTab]="tab.tab"
                                        [mode]="mode" [parentItem]="parentItem" (onFilterChanged)="filterChanged($event)">
                        </autogen-filter>
                        <div *ngIf="mode !== 'multiselect' && content.content.length === 0" class="autogen-table-empty">
                            <notification-panel [mode]="'warning'" [message]="'AD_msgDataEmpty' | translate"></notification-panel>
                        </div>

                        <!-- Table -->
                        <ng-container *ngIf="content.content.length !== 0 " >
                            <ng-container [ngSwitch]="tab.tab.gui.tableType" *ngIf="mode === 'list'">
                                <autogen-ngx-datatable *ngSwitchCase="'ngx-datatable'"
                                                       [content]="content" [relatedTab]="tab" [page]="page"
                                                       (selectedElementsChanged)="doSelect($event)" (editSelected)="doEditSelected($event)"
                                                       (sortChanged)="sortData($event)" (pageChanged)="changePage($event)">
                                </autogen-ngx-datatable>
                                <autogen-mat-datatable *ngSwitchCase="'mat-table'"
                                                       [content]="content" [relatedTab]="tab" [page]="page"
                                                       (selectedElementsChanged)="doSelect($event)" (editSelected)="doEditSelected($event)"
                                                       (sortChanged)="sortData($event)" (pageChanged)="changePage($event)">
                                </autogen-mat-datatable>
                                <autogen-custom-datatable *ngSwitchCase="'custom-table'"
                                                       [content]="content" [relatedTab]="tab" [page]="page"
                                                       (selectedElementsChanged)="doSelect($event)" (editSelected)="doEditSelected($event)"
                                                       (sortChanged)="sortData($event)" (pageChanged)="changePage($event)">
                                </autogen-custom-datatable>
                                <notification-panel *ngSwitchDefault [message]="'Table type not implemented'"></notification-panel>
                            </ng-container>

                            <ng-container *ngIf="mode === 'sort'">
                                <autogen-sort [content]="content" [relatedTab]="sortTab" [page]="page" [sortColumnName]="sortColumnName"
                                              [sortStart]="sortStart" [sortIncrement]="sortIncrement"
                                              (pageChanged)="changePage($event)" (listItems)="doListItems()">
                                </autogen-sort>
                            </ng-container>
                        </ng-container>

                        <!-- Multiselect editor Form -->
                        <ng-container *ngIf="mode === 'multiselect'">
                            <autogen-multiselect #multiselect [relatedTab]="multiSelectTab" [parentItem]="parentItem" (listItems)="doListItems()">
                            </autogen-multiselect>
                        </ng-container>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </mat-card>
    </ng-container>
</div>