:host {
    width: 100%;

    .mat-drawer-container {
        min-height: calc(100vh - 20rem) !important;
    }
}

.table-content {
    width: 100%;
}

.autogen-table-empty {
    padding: 2rem;
}

.autogen-table-page-selector {
    width: 7rem;
    text-align: right;
    float: right;
    padding-top: 0.5rem;
}

.autogen-table-header {
    display: grid;
    grid-template-columns: 1fr 48rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.autogen-table-title-button {
    float: left;
}

.autogen-table-title {
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3rem;
    width: calc(100% - 4rem);
    padding-top: 0.5rem;
}