<ng-container *ngIf="tab && !loading">
    <!-- Form buttons -->
    <div class="autogen-multiselect-container">
        <autogen-form-editor [autogenForm]="autogenForm" [tab]="tab" [fields]="fields" [currentItem]="currentItem"
                             [serverErrorMsg]="serverErrorMsg" [showInPopup]="false">
        </autogen-form-editor>
    </div>

    <!-- Multi select values -->
    <div class="autogen-multiselect-container autogen-multiselect-list">
        <div class="autogen-multiselect-row custom-datatable-row-header">
            <div>
                <mat-checkbox (change)="doChangeAll($event)"></mat-checkbox>
            </div>
            <div>{{caption}}</div>
        </div>
        <div class="autogen-multiselect-row custom-datatable-row" *ngFor="let item of multiSelectItems">
            <div>
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRow(item) : null"
                              [checked]="item.selected">
                </mat-checkbox>
            </div>
            <div class="custom-datatable-cell">{{item.name}}</div>
        </div>
    </div>

    <!-- Form buttons -->
    <div class="form-actions">
        <vinco-button [buttonType]="tab.tab.gui.button" [color]="'accent'" [cssClass]="'form-content-actions-right'"
                      [caption]="'AD_btnOK'" (click)="doSave()">
        </vinco-button>

        <vinco-button [buttonType]="tab.tab.gui.button" [color]="'warn'" [cssClass]="'form-content-actions-right'"
                      [caption]="'AD_btnCancel'" (click)="doCancel()">
        </vinco-button>
    </div>

</ng-container>
