.autogen-multiselect-row {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0px;
}

.autogen-multiselect-container {
    width: calc(100% - 15px);
    padding-left: 2rem;
}

.autogen-multiselect-list {
    margin-bottom: 2rem;
}