<div class="container">
    <div mat-dialog-content>
        <grid-fields-sort [fields]="fields"></grid-fields-sort>
    </div>

    <div mat-dialog-actions class="global-dialog-actions">
        <vinco-button [buttonType]="buttonType" [color]="'accent'" [cssClass]="'form-content-actions-right'" [caption]="'AD_btnOK'" (click)="doAccept()"></vinco-button>
        <vinco-button [buttonType]="buttonType" [color]="'warn'" [cssClass]="'form-content-actions-left'" [caption]="'AD_btnClearSelection'" (click)="doRestore()"></vinco-button>
    </div>
</div>
