<div class="content">
    <button mat-button [matMenuTriggerFor]="listMenu" class="list-menu-button">
        <div *ngIf="activeItem">
            <img src="assets/images/blank.gif" class="list-menu-float-left {{btnImageClass}} {{activeItem.imageCss}}" *ngIf="images">
            <mat-icon class="s-16 list-menu-float-left" *ngIf="icons">{{activeItem.icon}}</mat-icon>
            <div class="list-menu-float-left"> {{activeItem.name}} </div>
            <mat-icon class="s-16 list-menu-float-left">keyboard_arrow_down</mat-icon>
        </div>
    </button>

    <mat-menu #listMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let item of menuItems" (click)="selectItem(item)">
            <div>
                <img src="assets/images/blank.gif" class="list-menu-float-left {{itemImageClass}} {{item.imageCss}}" *ngIf="images">
                <mat-icon class="s-16 list-menu-float-left" *ngIf="icons">{{item.icon}}</mat-icon>
                <div class="list-menu-float-left " [ngClass]="{ 'text-bold': activeItem && activeItem.id === item.id }"> {{item.name}} </div>
                <div class="list-menu-float-left " *ngIf="activeItem && activeItem.id === item.id">
                    &nbsp;&nbsp;<mat-icon class="s-16">done_outline</mat-icon>
                </div>
            </div>
        </button>
    </mat-menu>
</div>
