:host {
    width: 100%;
}

.grid-fields-sort-container {
    max-height: 45rem;
    overflow: auto;
}

.grid-fields-sort-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px dotted #CCCCCC;
}

.grid-fields-sort-item-no {
    background-color: #dc354536;
}

.grid-fields-sort-item-yes {
    background-color: #28a74526;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}