<div class="grid-fields-sort-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="grid-fields-sort-item" *ngFor="let fld of fields" cdkDragBoundary=".grid-fields-sort-container" cdkDrag
         [ngClass]="{ 'grid-fields-sort-item-yes': fld.showingrid, 'grid-fields-sort-item-no': !fld.showingrid }">
        <mat-checkbox [(ngModel)]="fld.showingrid"></mat-checkbox>
        <mat-label>&nbsp;{{fld.caption}}</mat-label>
    </div>
</div>
