:host {
    width: 100%;

    .autogen-chart-container {
        padding: 15px;
    }

    .autogen-chart-content {
        padding-top: 0.5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .autogen-chart-header {
        display: grid;
        grid-template-columns: 1fr 4rem;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .autogen-chart-title-button {
        float: left;
    }

    .autogen-chart-title {
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 3rem;
        width: calc(100% - 4rem);
        padding-top: 0.5rem;
    }

    .autogen-chart-row {
        margin-bottom: 2.5rem;
    }

    .autogen-chart-list-row-header {
        font-weight: bold;
        background-color: #dddddd;
        padding-left: 1rem;
    }

    .autogen-chart-list-row {
        display: grid;
        grid-template-rows: 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0px;
        min-height: 3rem;
        border-bottom: 1px solid #dddddd;
    }

    .autogen-chart-list-row:hover {
        cursor: pointer;
        background-color: #e9e9e9;
    }

    .autogen-chart-list-col {
        padding-top: 0.4rem;
    }

    .autogen-chart-list-col:first-child {
        padding-left: 1rem;
    }

    .autogen-chart-filter {
        padding-top: 3px;
        color: #0e70ca;
    }

    .mat-card {
        padding: 0;
    }

    .mat-card-header {
        background-color: lightgray;
        padding: 5px 0px 5px 0px;
    }

    .mat-button {
        min-width: 32px;
        padding: 0;
    }
}

