<div class="autogen-table-form">
    <ng-container *ngIf="tab" >
        <mat-card class="autogen-mat-card">
            <!-- Table Header -->
            <mat-card-header [ngClass]="fuseConfig.layout.navbar.primaryBackground">
                <mat-card-title>
                    <div class="autogen-chart-header">
                        <div>
                            <mat-label>
                                <button *ngIf="tab.tab.hasFilters && tab.tab.gui.filterMode === 'filter-side-auto'"
                                        class="mat-icon-button autogen-chart-title-button" (click)="drawer.toggle()">
                                    <span class="mat-button-wrapper">
                                        <mat-icon class="secondary-text mat-icon material-icons mat-icon-no-color" aria-hidden="true">menu</mat-icon>
                                    </span>
                                </button>
                                <div class="autogen-chart-title">{{title}}</div>
                            </mat-label>
                        </div>
                        <div>
                            <button mat-icon-button>
                                <mat-icon (click)="doRefresh()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarRefresh' | translate}}">refresh</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-title>
            </mat-card-header>

            <!-- Table content -->
            <div class="mat-elevation-z8 " fxLayout="row" >
                <mat-drawer-container fxFill [hasBackdrop]="false">
                    <!-- Filter panel -->
                    <mat-drawer #drawer [mode]="'side'" [opened]="tab.tab.gui.filterMode === 'filter-side'" class="primary-50-bg" *ngIf="tab.tab.gui.filterMode !== 'filter-top' && tab.tab.hasFilters">
                        <autogen-filter *ngIf="tab.tab.gui.filterMode === 'filter-side' || tab.tab.gui.filterMode === 'filter-side-auto'"
                                        [orientation]="'vertical'" [relatedTab]="tab.tab" (onFilterChanged)="filterChanged($event)" (onFillFilter)="fillFilter($event)">
                        </autogen-filter>
                    </mat-drawer>

                    <!-- Charts -->
                    <mat-drawer-content>
                        <autogen-filter *ngIf="tab.tab.gui.filterMode==='filter-top'"  [relatedTab]="tab.tab"
                                        (onFilterChanged)="filterChanged($event)" (onFillFilter)="fillFilter($event)"></autogen-filter>

                        <div class="autogen-chart-container">
                            <div class="autogen-chart-row fields-row-grid {{row.cssGrid}}" [style.grid-template-columns]="row.cssGridTemplateColumns | safeStyle" *ngFor="let row of rows">
                                <div *ngFor="let chart of row.columns" class="fields {{chart.cssGridArea}}">
                                    <mat-card class="mat-elevation-z8">
                                        <mat-card-header>
                                            <mat-card-title>
                                                <div class="pull-left">
                                                    <button mat-button [matMenuTriggerFor]="menu" *ngIf="chart.chartType !== 'OTHER' && referenceChartType !== null"><mat-icon class="secondary-text mat-icon material-icons mat-icon-no-color" aria-hidden="true">menu</mat-icon></button>
                                                    <mat-menu #menu="matMenu">
                                                        <button mat-menu-item *ngIf="chart.chartType === 'LINEAREA' && chart.ctype !== 'LINEAREA_LINE'" (click)="changeChartType(chart,'LINEAREA_LINE')">
                                                            {{getChartTypeName('LINEAREA_LINE')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'LINEAREA' && chart.ctype !== 'LINEAREA_AREA'" (click)="changeChartType(chart,'LINEAREA_AREA')">
                                                            {{getChartTypeName('LINEAREA_AREA')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'LINEAREA' && chart.ctype !== 'LINEAREA_POLAR'" (click)="changeChartType(chart,'LINEAREA_POLAR')">
                                                            {{getChartTypeName('LINEAREA_POLAR')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'LINEAREA' && chart.ctype !== 'LINEAREA_AREA_STACKED'" (click)="changeChartType(chart,'LINEAREA_AREA_STACKED')">
                                                            {{getChartTypeName('LINEAREA_AREA_STACKED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'LINEAREA' && chart.ctype !== 'LINEAREA_AREA_NORMALIZED'" (click)="changeChartType(chart,'LINEAREA_AREA_NORMALIZED')">
                                                            {{getChartTypeName('LINEAREA_AREA_NORMALIZED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'PIE_CHART' && chart.ctype !== 'PIE_CHART_STANDARD'" (click)="changeChartType(chart,'PIE_CHART_STANDARD')">
                                                            {{getChartTypeName('PIE_CHART_STANDARD')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'PIE_CHART' && chart.ctype !== 'PIE_CHART_ADVANCED'" (click)="changeChartType(chart,'PIE_CHART_ADVANCED')">
                                                            {{getChartTypeName('PIE_CHART_ADVANCED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'PIE_CHART' && chart.ctype !== 'PIE_CHART_GRID'" (click)="changeChartType(chart,'PIE_CHART_GRID')">
                                                            {{getChartTypeName('PIE_CHART_GRID')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype === 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_VERT')">
                                                            {{getChartTypeName('BAR_CHARTS_VERT')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype === 'BAR_CHARTS_VERT'" (click)="changeChartType(chart,'BAR_CHARTS_HORIZ')">
                                                            {{getChartTypeName('BAR_CHARTS_HORIZ')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype !== 'BAR_CHARTS_VERT_GROUPED' && chart.ctype !== 'BAR_CHARTS_VERT' && chart.ctype !== 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_VERT_GROUPED')">
                                                            {{getChartTypeName('BAR_CHARTS_VERT_GROUPED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype !== 'BAR_CHARTS_HORIZ_GROUPED' && chart.ctype !== 'BAR_CHARTS_VERT' && chart.ctype !== 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_HORIZ_GROUPED')">
                                                            {{getChartTypeName('BAR_CHARTS_HORIZ_GROUPED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype !== 'BAR_CHARTS_VERT_STACKED' && chart.ctype !== 'BAR_CHARTS_VERT' && chart.ctype !== 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_VERT_STACKED')">
                                                            {{getChartTypeName('BAR_CHARTS_VERT_STACKED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype !== 'BAR_CHARTS_HORIZ_STACKED' && chart.ctype !== 'BAR_CHARTS_VERT' && chart.ctype !== 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_HORIZ_STACKED')">
                                                            {{getChartTypeName('BAR_CHARTS_HORIZ_STACKED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype !== 'BAR_CHARTS_VERT_NORMALIZED' && chart.ctype !== 'BAR_CHARTS_VERT' && chart.ctype !== 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_VERT_NORMALIZED')">
                                                            {{getChartTypeName('BAR_CHARTS_VERT_NORMALIZED')}}
                                                        </button>
                                                        <button mat-menu-item *ngIf="chart.chartType === 'BAR_CHARTS' && chart.ctype !== 'BAR_CHARTS_HORIZ_NORMALIZED' && chart.ctype !== 'BAR_CHARTS_VERT' && chart.ctype !== 'BAR_CHARTS_HORIZ'" (click)="changeChartType(chart,'BAR_CHARTS_HORIZ_NORMALIZED')">
                                                            {{getChartTypeName('BAR_CHARTS_HORIZ_NORMALIZED')}}
                                                        </button>
                                                    </mat-menu>
                                                    {{chart.name}}
                                                </div>
                                                <div class="pull-right autogen-chart-filter">{{chart.runtimeFilter}}</div>
                                            </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content class="autogen-chart-content">
                                            <notification-panel [mode]="'error'" [message]="chart.runtimeError" *ngIf="chart.runtimeError"></notification-panel>

                                            <ng-container [ngSwitch]="chart.chartType" *ngIf="chart.runtimeError === null">
                                                <ng-container *ngSwitchCase="'OTHER'">
                                                    <div class="autogen-chart-list-row autogen-chart-list-row-header" [ngStyle]="{ 'grid-template-columns': chart.gridColumnsStyle }">
                                                        <div *ngFor="let col of chart.runtimeColumns" class="autogen-chart-list-col">{{col.caption}}</div>
                                                    </div>
                                                    <div *ngFor="let item of chart.runtimeListValues" class="autogen-chart-list-row" [ngStyle]="{ 'grid-template-columns': chart.gridColumnsStyle }">
                                                        <div *ngFor="let col of chart.runtimeColumns" class="autogen-chart-list-col">
                                                            {{item[col.name]}}
                                                        </div>
                                                    </div>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'PIE_CHART'">
                                                    <autogen-chart-pie [idChart]="chart.idChart" [colorScheme]="chart.colorScheme" [gradient]="chart.gradient" [animations]="chart.animations"
                                                                       [disableTooltip]="chart.disableTooltip" [showLegend]="chart.showLegend" [legendPosition]="chart.lengendPosition"
                                                                       [pieMode]="chart.ctype" [explodeSlices]="chart.pieExplodeSlices" [isDoughnut]="chart.pieDoughnut" [arcWidth]="chart.pieArcWidth"
                                                                       [showLabels]="chart.pieShowLabels" [data]="chart.runtimeResult" (onSelect)="doSelect($event)">
                                                    </autogen-chart-pie>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'BAR_CHARTS'">
                                                    <autogen-chart-bar [idChart]="chart.idChart" [colorScheme]="chart.colorScheme" [gradient]="chart.gradient" [animations]="chart.animations"
                                                                       [disableTooltip]="chart.disableTooltip" [showLegend]="chart.showLegend" [legendPosition]="chart.lengendPosition"
                                                                       [barMode]="chart.ctype" [showXAxis]="chart.showXAxis" [showYAxis]="chart.showYAxis"
                                                                       [showXAxisLabel]="chart.showTitleX" [showYAxisLabel]="chart.showTitleY" [hideBarZero]="chart.hideBarZero"
                                                                       [showGridLines]="chart.showGridLines" [showDataLabel]="chart.showDataLabel"
                                                                       [roundDomains]="chart.roundDomains" [roundBarEdges]="chart.roundBarEdges"
                                                                       [data]="chart.runtimeResult" (onSelect)="doSelect($event)">
                                                    </autogen-chart-bar>
                                                </ng-container>

                                                <ng-container *ngSwitchCase="'LINEAREA'">
                                                    <autogen-chart-linearea [idChart]="chart.idChart" [colorScheme]="chart.colorScheme" [gradient]="chart.gradient" [animations]="chart.animations"
                                                                            [disableTooltip]="chart.disableTooltip" [showLegend]="chart.showLegend" [legendPosition]="chart.lengendPosition"
                                                                            [areaMode]="chart.ctype" [showGridLines]="chart.showGridLines" [roundDomains]="chart.roundDomains"
                                                                            [showXAxis]="chart.showXAxis" [showYAxis]="chart.showYAxis" [showXAxisLabel]="chart.showTitleX" [showYAxisLabel]="chart.showTitleY"
                                                                            [autoScale]="chart.autoScale" [timeLine]="chart.timeLine" [lineInterpolation]="chart.lineInterpolation"
                                                                            [data]="chart.runtimeResult" (onSelect)="doSelect($event)">
                                                    </autogen-chart-linearea>
                                                </ng-container>

                                                <ng-container *ngSwitchDefault>
                                                    <p>&nbsp;</p>
                                                    <notification-panel [mode]="'warning'" [message]="'Gráfico: ('+ chart.ctype + ') sin implementar*'"></notification-panel>
                                                </ng-container>
                                            </ng-container>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-drawer-content>
                </mat-drawer-container>
            </div>
        </mat-card>
    </ng-container>
</div>