<ng-container [ngSwitch]="buttonType">
    <ng-container *ngSwitchCase="'mat-button'">
        <button mat-button color="{{color}}" [ngClass]="cssClass">
            <mat-icon *ngIf="icon">{{icon}}</mat-icon> {{caption | translate}}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'mat-raised-button'">
        <button mat-raised-button color="{{color}}" [ngClass]="cssClass">
            <mat-icon *ngIf="icon">{{icon}}</mat-icon> {{caption | translate}}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'mat-stroked-button'">
        <button mat-stroked-button color="{{color}}" [ngClass]="cssClass">
            <mat-icon *ngIf="icon">{{icon}}</mat-icon> {{caption | translate}}
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'mat-flat-button'">
        <button mat-flat-button color="{{color}}" [ngClass]="cssClass">
            <mat-icon *ngIf="icon">{{icon}}</mat-icon> {{caption | translate}}
        </button>
    </ng-container>
</ng-container>

