<form [formGroup]="autogenForm" *ngIf="!loading">

    <autogen-fields [fields]="ungroupedFields" [allFields]="tab.tab.fields" [gridColumns]="tab.tab.gridColumns"
                    [showInPopup]="showInPopup" [item]="currentItem" [gui]="tab.tab.gui" [autogenForm]="autogenForm" [table]="tab.tab.table">
    </autogen-fields>

    <div *ngIf="tab.tab.groupMode === 'TAB'" class="autogen-form-content-groups mat-elevation-z5">
        <mat-tab-group>
            <ng-container *ngFor="let fieldGroup of fieldGroups">
                <mat-tab label="{{fieldGroup.name}}" *ngIf="fieldGroup.runtimeDisplayed">
                    <div class="autogen-form-content-groups-body">
                        <autogen-fields [fields]="fieldGroup.fields" [allFields]="tab.tab.fields" [gridColumns]="fieldGroup.gridColumns"
                                        [showInPopup]="showInPopup" [item]="currentItem" [gui]="tab.tab.gui" [autogenForm]="autogenForm" [table]="tab.tab.table">
                        </autogen-fields>
                    </div>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>

    <div *ngIf="tab.tab.groupMode !== 'TAB'" class="autogen-form-content-groups mat-elevation-z5">
        <mat-accordion multi="true">
            <ng-container *ngFor="let fieldGroup of fieldGroups">
                <mat-expansion-panel *ngIf="fieldGroup.runtimeDisplayed" [expanded]="!fieldGroup.collapsed">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{fieldGroup.name}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <autogen-fields [fields]="fieldGroup.fields" [allFields]="tab.tab.fields" [gridColumns]="fieldGroup.gridColumns"
                                    [showInPopup]="showInPopup" [item]="currentItem" [gui]="tab.tab.gui" [autogenForm]="autogenForm" [table]="tab.tab.table">
                    </autogen-fields>
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>
</form>

<div *ngIf="serverErrorMsg" class="autogen-form-error-container">
    <notification-panel [message]="serverErrorMsg"></notification-panel>
</div>
