<ng-container *ngIf="!item.hidden">

    <a class="nav-link" [ngClass]="item.classes" *ngIf="item.relatedMenu" (click)="navigateToMenu(item.relatedMenu)">
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <mat-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</mat-icon>
        <span class="nav-link-title" >{{item.title}}</span>
    </ng-template>

</ng-container>