.mat-expansion-panel-header {
    background-color: #0e70ca;
}

.mat-expansion-panel-header-title {
    font-weight: bold;
}

.query-exec-results {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.query-exec-table-container {
    min-width: 50rem;
    overflow: auto;
}

.query-exec-table-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.query-exec-table-empty {
    margin-top: 2rem;
}

.query-exec-table-row-data {
    border-bottom: 1px solid #CCCCCC;
}

.query-exec-table-row-data:hover {
    background-color: #dddddd;
}

.query-exec-table-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.query-exec-table-header {
    font-weight: bold;
}