<div class="container">
    <form [formGroup]="queryForm" *ngIf="!loading">
        <div class="row">
            <div class="col-sm-4">
                <autogen-list [allowBlank]="false" [appearance]="'standard'" [label]="'AD_sqlExecType' | translate"
                              [autogenForm]="queryForm" [name]="'sqlType'" [reference]="queryLanguages">
                </autogen-list>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <autogen-textbox [appearance]="'standard'" [label]="'AD_sqlExecQuery' | translate"
                                 [autogenForm]="queryForm" [name]="'sqlQuery'" [editorType]="'textarea'">
                </autogen-textbox>
            </div>
        </div>
    </form>

    <div mat-dialog-actions class="global-dialog-actions">
        <vinco-button [buttonType]="'mat-raised-button'" [color]="'accent'" [cssClass]="'form-content-actions-right'" [caption]="'AD_btnExecute'" (click)="doExecute()"></vinco-button>
    </div>

    <mat-expansion-panel [expanded]="true" class="query-exec-results mat-elevation-z5">
        <mat-expansion-panel-header>
            <mat-panel-title>{{'AD_sqlExecResults' | translate}}</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="values && !loading">
            <div *ngIf="values.length === 0" class="query-exec-table-empty">
                <notification-panel [mode]="'warning'" [message]="'AD_msgSqlExecDataEmpty' | translate"></notification-panel>
            </div>
            <ng-container *ngIf="values.length > 0">
                <ng-container *ngIf="mode === 'SQL'">
                    <div class="query-exec-table-container">
                        <div class="query-exec-table-row" [ngStyle]="{ 'grid-template-columns': 'repeat(' + columns.length + ', 20rem)' }">
                            <div *ngFor="let column of columns" class="query-exec-table-header query-exec-table-cell">{{column}}</div>
                        </div>
                        <div class="query-exec-table-row query-exec-table-row-data" *ngFor="let row of values" [ngStyle]="{ 'grid-template-columns': 'repeat(' + columns.length + ', 20rem)' }">
                            <div *ngFor="let column of columns" class="query-exec-table-cell">{{row[column]}}</div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="mode === 'HQL'">
                    <div class="query-exec-table-row-data" *ngFor="let row of values">
                        <ngx-json-viewer [json]="row"></ngx-json-viewer>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </mat-expansion-panel>
</div>
