<div class="autogen-chart-arealine-container">

    <ng-container *ngIf="noData">
        <notification-panel [mode]="'info'" [message]="'AD_msgDataEmpty' | translate"></notification-panel>
    </ng-container>

    <ng-container *ngIf="!noData" [ngSwitch]="areaMode">
        <ng-container *ngSwitchCase="'LINEAREA_LINE'">
            <ngx-charts-line-chart [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                   [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                   [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                   [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [showGridLines]="showGridLines" [roundDomains]="roundDomains"
                                   [autoScale]="autoScale" [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax" [timeline]="timeLine" [curve]="curve"
                                   [results]="values" (select)="select($event)">
            </ngx-charts-line-chart>
        </ng-container>

        <ng-container *ngSwitchCase="'LINEAREA_AREA'">
            <ngx-charts-area-chart [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                   [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                   [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                   [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [showGridLines]="showGridLines" [roundDomains]="roundDomains"
                                   [autoScale]="autoScale" [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax" [timeline]="timeLine" [curve]="curve"
                                   [results]="values" (select)="select($event)">
            </ngx-charts-area-chart>
        </ng-container>

        <ng-container *ngSwitchCase="'LINEAREA_AREA_STACKED'">
            <ngx-charts-area-chart-stacked [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                           [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                           [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                           [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [showGridLines]="showGridLines" [roundDomains]="roundDomains"
                                           [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax" [timeline]="timeLine" [curve]="curve"
                                           [results]="values" (select)="select($event)">
            </ngx-charts-area-chart-stacked>
        </ng-container>

        <ng-container *ngSwitchCase="'LINEAREA_AREA_NORMALIZED'">
            <ngx-charts-area-chart-normalized [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                              [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                              [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                              [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [showGridLines]="showGridLines" [roundDomains]="roundDomains"
                                              [timeline]="timeLine" [curve]="curve" [results]="values" (select)="select($event)">
            </ngx-charts-area-chart-normalized>
        </ng-container>

        <ng-container *ngSwitchCase="'LINEAREA_POLAR'">
            <ngx-charts-polar-chart [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                    [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                    [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                    [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [showGridLines]="showGridLines" [roundDomains]="roundDomains"
                                    [curve]="curve" [results]="values" (select)="select($event)">
            </ngx-charts-polar-chart>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <p>&nbsp;</p>
            <notification-panel [mode]="'warning'" [message]="'Line/Area: ('+ areaMode + ') not implemented'"></notification-panel>
        </ng-container>
    </ng-container>
</div>

