<ng-container *ngIf="tab && selectedItems">
    <autogen-form [tabTitle]="tab.name" [relatedTab]="tab" [selectedItems]="selectedItems" [showInPopup]="true"
                  *ngIf="newError === null" (listItems)="doListItems($event)" (close)="doClose()">
    </autogen-form>
</ng-container>
