:host {
    width: 100%;

    .autogen-table {
        .mat-card-header-text{
            width: 100% !important;
        }

        .mat-card-title {
            width: 100%
        }

        .mat-card-title,
        span {
            color: white;
        }

        .mat-card-title{
            margin: 0px !important;
        }
    }

    .table-content{
        width: 100%;
    }
}


