<div class="autogen-table" #tableWrapper >
    <ngx-datatable #table class="material" [rows]="content.content" [columnMode]="tab.tab.gui.tableMode"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
        [count]="page.totalElements" [offset]="page.pageNumber" [selected]="selected"
        [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
        (select)="onSelect($event)" (activate)="onActivate($event)"
        [limit]="page.size" (page)="setPage($event)" (sort)="onSort($event)">
        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column *ngFor="let column of visibleColumns"
                              [name]="column.relatedField.caption" [prop]="column.name"
                              [width]="column.relatedField.guiWidth" [sortable]="column.relatedField.sortable"
                              [minWidth]="column.relatedField.guiMinWidth" [maxWidth]="column.relatedField.guiMaxWidth"
                              [flexGrow]="column.relatedField.guiFlexGrow">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ng-container *ngIf="column.reference">
                    <ng-container [ngSwitch]="column.reference.rtype">
                        <ng-container *ngSwitchCase="'IMAGE_ENCODE'"><img [src]="row[column.name]" class="datatable-image" *ngIf="row[column.name]"/></ng-container>
                        <ng-container *ngSwitchCase="'IMAGEVIEW'"><img [src]="value" class="datatable-image"/></ng-container>
                        <ng-container *ngSwitchCase="'FILEURL'"><a [href]="value">Link</a></ng-container>
                        <ng-container *ngSwitchCase="'ID'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'IMAGE'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'FILE'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'TEXT'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'EMAIL'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'HTML'"><span [innerHTML]="value | safeHtml"></span></ng-container>
                        <ng-container *ngSwitchCase="'INTEGER'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'NUMBER'">{{value | number:'1.2-2'}}</ng-container>
                        <ng-container *ngSwitchCase="'STRING'">{{value}}</ng-container>
                        <ng-container *ngSwitchCase="'ACTIONS'">
                            <ng-container *ngFor="let action of actions">
                                <button mat-icon-button *ngIf="row.$action$[action.idTableAction]">
                                    <mat-icon (click)="doCustomAction(action, row)" matTooltipPosition="above" matTooltip="{{action.name}}">{{action.icon}}</mat-icon>
                                </button>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{row | referenceRowValue : column | async}}
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!column.reference">{{value}}</ng-container>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>