<div class="designer-fields-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="fields-row-grid {{row.cssGrid}}" [style.grid-template-columns]="row.cssGridTemplateColumns | safeStyle" *ngFor="let row of rows">
        <div *ngFor="let fld of row.columns" class="fields {{fld.cssGridArea}}" cdkDragBoundary=".designer-fields-container" cdkDrag (click)="selectField(fld)">
            <div [ngSwitch]="fld.columnReferenceType" class="designer-fields" [ngClass]="{ 'designer-fields-selected': fld.designerSelected, 'designer-fields-readonly': fld.readonly }">

                <ng-container *ngSwitchCase="'YESNO'">
                    <div style="padding-top: 3rem">
                        <mat-checkbox></mat-checkbox>
                        <mat-label>&nbsp;{{fld.caption}}</mat-label>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="'TEXT'">
                    <mat-form-field>
                        <mat-label>&nbsp;{{fld.caption}}</mat-label>
                        <textarea matInput rows="3" readonly></textarea>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchCase="'HTML'">
                    <mat-form-field>
                        <mat-label>&nbsp;{{fld.caption}}</mat-label>
                        <textarea matInput rows="3" readonly></textarea>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    <mat-form-field>
                        <mat-label>&nbsp;{{fld.caption}}</mat-label>
                        <input matInput type="text" readonly>
                    </mat-form-field>
                </ng-container>

            </div>
        </div>
    </div>
</div>
