:host {
    width: 100%;
}

.designer-fields-container {

}
.designer-fields-container:hover {
    border: 1px dotted orange;
}


.designer-fields {
    padding: 0.5rem;
}

.designer-fields-selected {
    border: 1px solid orange;
    background-color: rgba(255, 165, 0, 0.33) !important;
}

.designer-fields-readonly {
    background-color: #e4e4e4;
}

.mat-form-field {
    width: 100%;
}
