<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button *ngIf="showNav">
        <mat-icon (click)="doNavFirst()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNavFirst' | translate}}">skip_previous</mat-icon>
    </button>
    <button mat-icon-button *ngIf="showNav">
        <mat-icon (click)="doNavPrevious()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNavPrevious' | translate}}">arrow_left</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon (click)="doSave()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarSave' | translate}}">done_outline</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!showInPopup">
        <mat-icon (click)="doCancel()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarCancel' | translate}}">clear</mat-icon>
    </button>
    <button mat-icon-button *ngIf="showNav">
        <mat-icon (click)="doNavNext()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNavNext' | translate}}">arrow_right</mat-icon>
    </button>
    <button mat-icon-button *ngIf="showNav">
        <mat-icon (click)="doNavLast()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNavLast' | translate}}">skip_next</mat-icon>
    </button>
    <button mat-icon-button *ngIf="showNew">
        <mat-icon (click)="doNew()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNew' | translate}}">add</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!showInPopup || tab.tab.tablevel > 0">
        <mat-icon (click)="doList()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarShowList' | translate}}">list</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!showInPopup && showAudit">
        <mat-icon (click)="doAudit()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarAudit' | translate}}">live_help</mat-icon>
    </button>
    <button mat-icon-button *ngIf="showInPopup && tab.tab.tablevel === 0">
        <mat-icon (click)="doClose()">close</mat-icon>
    </button>
</div>