<form name="passwordForm" class="smart-form client-form password-form" [formGroup]="passwordForm" (ngSubmit)="confirmChanges()">
    <div class="profile-menu">
        <div class="profile-menu-content">

            <div class="password-field">
                <mat-form-field>
                    <input type="password" matInput placeholder="{{'AD_GlobalCurrentPassword' | translate}}"
                           [formControl]="oldPassword" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="oldPassword.hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="password-field">
                <mat-form-field>
                    <input type="password" matInput placeholder="{{'AD_GlobalNewPassword' | translate}}"
                           [formControl]="password" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="password.hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="password-field">
                <mat-form-field>
                    <input type="password" matInput placeholder="{{'AD_GlobalConfirmPassword' | translate}}"
                           [formControl]="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="confirmPassword.hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('notEquals')">{{'AD_GlobalPasswordNotMatch' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="padding-5">
                <notification-panel *ngIf="passwordChangeError" [height]="'6em'" [mode]="'error'" [message]="'AD_GlobalPasswordNotChanged' | translate"></notification-panel>
                <notification-panel *ngIf="serverError" [height]="'6em'" [mode]="'error'" [message]="message"></notification-panel>
            </div>
        </div>

        <div class="profile-menu-buttons">
            <button type="submit" mat-raised-button color="primary"><mat-icon>done</mat-icon> {{'AD_btnApply' | translate}}</button>
        </div>
    </div>
</form>
