<ng-container *ngIf="!readOnly">
    <button mat-button mat-raised-button color="accent" (click)="doClick()">
        <mat-icon>publish</mat-icon>
        {{label}}
    </button>
    <div *ngIf="_fName" class="autogen-file-info">
        {{_fName}}
        <a title="{{'AD_btnDelete' | translate}}" (click)="deleteFile()"><mat-icon>delete_forever</mat-icon></a>
    </div>
    <mat-icon *ngIf="description" (click)="onHelp()" class="editor-cursor">help_outline</mat-icon>
    <mat-hint *ngIf="hint">{{hint}}</mat-hint>
    <br/>
    <mat-error class="autogen-file-info" *ngIf="_uploadError">{{'AD_ErrValidationUploadFile' | translate}}</mat-error>
    <mat-error class="autogen-file-info" *ngIf="autogenForm.get(name).touched && autogenForm.get(name).errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
    <div *ngIf="file" class="autogen-file-progress-container">
        <mat-progress-bar color="{{_uploadError ? 'warn': 'accent'}}" [value]="file.progress"></mat-progress-bar>
        <span class="autogen-file-label">
            {{file.data.name}}--
            <a title="{{'AD_btnRetry' | translate}}" (click)="retryFile(file)" *ngIf="file.canRetry"><mat-icon>refresh</mat-icon></a>
            <a title="{{'AD_btnCancel' | translate}}" (click)="cancelFile(file)" *ngIf="file.inProgress"><mat-icon>cancel</mat-icon></a>
        </span>
    </div>
    <input type="file" id="{{name}}" name="name" accept="{{accept}}" style="display:none;"/>
</ng-container>

<ng-container *ngIf="readOnly">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <input matInput [formControlName]="name" readonly class="field-read-only">
    </mat-form-field>
</ng-container>
