:host{
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.autogen-file-progress-container {
    margin-top: 0.8rem;
}

.autogen-file-label {
    display: inline-flex;
    vertical-align: middle;
    font-size: 12px;
    line-height: 18px;
}

.autogen-file-label mat-icon {
    font-size: 18px;
    text-align: center;
}

.autogen-file-label a {
    cursor: pointer;
}

.autogen-file-info {
    margin-top: 0.8rem;
}