<form name="infoForm" class="smart-form client-form info-form" [formGroup]="infoForm" (ngSubmit)="confirmChanges()">
    <div class="profile-menu">
        <div class="profile-menu-content">

            <div class="info-field">
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'AD_GlobalUserName' | translate}}" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="infoForm.get('name').hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="info-field">
                <mat-form-field>
                    <input type="text" email matInput placeholder="{{'AD_GlobalUserEmail' | translate}}" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>mail_outline</mat-icon>
                    <mat-error *ngIf="infoForm.get('email').hasError('email')">{{'AD_GlobalEnterEmail' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="info-field">
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'AD_GlobalUserPhone' | translate}}" formControlName="phone" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>phone_enabled</mat-icon>
                </mat-form-field>
            </div>

            <div class="info-field">
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'AD_GlobalUserPhoneMobile' | translate}}" formControlName="phoneMobile" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>smartphone</mat-icon>
                </mat-form-field>
            </div>

            <div class="info-field">
                <mat-form-field>
                    <input type="text" matInput placeholder="{{'AD_GlobalUserFax' | translate}}" formControlName="fax" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>voicemail</mat-icon>
                </mat-form-field>
            </div>

            <div class="padding-5">
                <notification-panel *ngIf="message" [height]="'6em'" [mode]="'error'" [message]="message"></notification-panel>
            </div>
        </div>

        <div class="profile-menu-buttons">
            <button type="submit" mat-raised-button color="primary"><mat-icon>done</mat-icon> {{'AD_btnApply' | translate}}</button>
        </div>
    </div>
</form>
