<div class="custom-datatable-container">
    <div [ngStyle]="{ 'min-width': minWidth }">
        <!-- Table Header -->
        <div class="custom-datatable-columns custom-datatable-row-header" [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }">
            <div>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </div>
            <ng-container *ngFor="let column of visibleColumns">
                <div class="custom-datatable-cell-header custom-datatable-{{tab.tab.table.name}}-cell-caption-{{column.name}}" *ngIf="column.sortable"
                     (click)="onSort(column)">
                    {{column.relatedField.caption}}
                    <span *ngIf="column.sort && column.sort.direction === 1" class="material-icons">arrow_downward</span>
                    <span *ngIf="column.sort && column.sort.direction === 0" class="material-icons">arrow_upward</span>
                </div>
                <div class="custom-datatable-cell-header custom-datatable-{{tab.tab.table.name}}-cell-header-{{column.name}}" *ngIf="!column.sortable">
                    {{column.relatedField.caption}}
                </div>
            </ng-container>
        </div>
        <!-- Table Body -->
        <div class="custom-datatable-columns custom-datatable-row custom-datatable-{{tab.tab.table.name}}-row-status-{{row.customTableRowClass}}"
             [ngStyle]="{ 'grid-template-columns': gridTemplateColumns }"
             *ngFor="let row of rows" (dblclick)="onDlbClick(row)">
            <div>
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRow(row) : null"
                              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </div>
            <div *ngFor="let column of visibleColumns" class="custom-datatable-cell custom-datatable-{{tab.tab.table.name}}-cell-{{column.name}}">
                <ng-container *ngIf="column.reference">
                    <ng-container  [ngSwitch]="column.reference.rtype">
                        <ng-container *ngSwitchCase="'IMAGE_ENCODE'"><img [src]="row[column.name]" class="datatable-image" *ngIf="row[column.name]"/></ng-container>
                        <ng-container *ngSwitchCase="'IMAGEVIEW'"><img [src]="row[column.name]" class="datatable-image"/></ng-container>
                        <ng-container *ngSwitchCase="'FILEURL'"><a [href]="row[column.name]">Link</a></ng-container>
                        <ng-container *ngSwitchCase="'ID'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'IMAGE'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'FILE'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'TEXT'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'EMAIL'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'HTML'"><span [innerHTML]="row[column.name] | safeHtml"></span></ng-container>
                        <ng-container *ngSwitchCase="'INTEGER'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'NUMBER'">{{row[column.name] | number:'1.2-2'}}</ng-container>
                        <ng-container *ngSwitchCase="'STRING'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'ACTIONS'">
                            <button mat-icon-button *ngFor="let action of actions">
                                <mat-icon (click)="doCustomAction(action, row)" matTooltipPosition="above" matTooltip="{{action.name}}">{{action.icon}}</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{row | referenceRowValue : column | async}}
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!column.reference">
                    {{row[column.name]}}
                </ng-container>
            </div>
        </div>
    </div>
</div>
<!-- Paginator -->
<mat-paginator [length]="page.totalElements" [pageSize]="page.size" (page)="changePageInfo($event)"></mat-paginator>

