:host {
    width: 100%;

    .custom-datatable-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .custom-datatable-row-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .custom-datatable-columns {
        display: grid;
        grid-template-rows: 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0px;
    }

}