.menu-role-node-haschild {
    font-weight: bold;
}

.menu-role-node-module {
    background-color: #ccc;
}

.menu-role-node-assigned {
    background-color: #d2ecd2;
    border-bottom: 1px solid #a8d2aa;
}

.menu-role-node-not-assigned {
    background-color: #f7ebeb;
    border-bottom: 1px solid #d4b2b2;
}

.menu-role-node-container {
    display: grid;
    grid-template-columns: 1fr 25rem;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    padding-right: 1rem;
}

.menu-role-node-module-selector {
    background-color: white;
    padding: 0.7rem;
    border: 1px solid #ccc;
}

.menu-role-node-value {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 48px;
}

.menu-role-buttons-container {
    margin: 1rem;
}

