<div class="container">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="menu-role-node-container"
                       [ngClass]="{ 'menu-role-node-assigned': node.idModule !== null, 'menu-role-node-not-assigned': node.idModule === null }">
            <div class="menu-role-node-value">
                <mat-icon *ngIf="node.icon">{{node.icon}}</mat-icon>
                &nbsp;{{node.name}}
            </div>
            <div>
                <mat-select class="menu-role-node-module-selector" [(value)]="node.idModule" (valueChange)="changeModule(node)">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let item of modules" [value]="item.value">{{item.caption}}</mat-option>
                </mat-select>
            </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="menu-role-node-haschild menu-role-node-container"
                       [ngClass]="{ 'menu-role-node-module': node.level === 0, 'menu-role-node-assigned': node.idModule !== null, 'menu-role-node-not-assigned': node.level > 0 && node.idModule === null }">
            <div>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <button mat-icon-button *ngIf="node.level > 0"><mat-icon *ngIf="node.icon">{{node.icon}}</mat-icon></button>
                &nbsp;{{node.name}}
            </div>
            <div>
                <mat-select class="menu-role-node-module-selector" [(value)]="node.idModule" (valueChange)="changeModule(node)" *ngIf="node.level > 0">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let item of modules" [value]="item.value">{{item.caption}}</mat-option>
                </mat-select>
            </div>
        </mat-tree-node>
    </mat-tree>
    <div class="menu-role-buttons-container">
        <vinco-button [buttonType]="gui.button" [color]="'accent'" [cssClass]="'form-content-actions-right'"
                      [caption]="'AD_msgCaptionBarSave'" [icon]="'save'" (click)="doSave()">
        </vinco-button>
    </div>
    <p>&nbsp;</p>
</div>
