<div class="content" fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <ng-container *ngIf="mode === 'login'">
        <form fxFlex="90" fxFlex.gt-sm="60" id="login-form" name="loginForm" class="smart-form client-form" novalidate [formGroup]="loginForm" >
            <mat-card class="mat-elevation-z14">
                <mat-card-title>{{'AD_GlobalLoginCaption' | translate}}</mat-card-title>
                <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
                    <notification-panel *ngIf="showLoginError" [mode]="'error'" [message]="'AD_MsgUserPasswordInvalid' | translate"></notification-panel>

                    <mat-form-field>
                        <input matInput placeholder="{{'AD_GlobalUser' | translate}}" [formControl]="user" [errorStateMatcher]="matcher" required>
                        <mat-icon matSuffix>person</mat-icon>
                        <mat-hint>{{'AD_GlobalEnterUser' | translate}}</mat-hint>
                        <mat-error *ngIf="user.hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="{{'AD_GlobalPassword' | translate}}" [formControl]="password" [errorStateMatcher]="matcher" required>
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-hint>{{'AD_GlobalEnterPassword' | translate}}</mat-hint>
                        <mat-error *ngIf="password.hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                    </mat-form-field>
                    <div class="note" fxFlexOffset="5">
                        <a (click)="doRecover()">{{'AD_GlobalForgotPassword' | translate}}</a>
                    </div>
                    <mat-checkbox [formControl]="rememberMe" fxFlexOffset="2"> {{'AD_GlobalRemindMe' | translate}}</mat-checkbox>
                </mat-card-content>
                <mat-card-actions fxLayout="column" fxLayoutAlign="space-around stretch">
                    <button (click)="doLogin()" fxFlex="90" mat-flat-button>{{'AD_GlobalLogin' | translate}}</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </ng-container>

    <ng-container *ngIf="mode === 'terminal'">
        <app-terminal></app-terminal>
    </ng-container>

</div>

