<span class="message-{{notificationType}}">
    <div class="message-container">
        <div>
            <mat-icon class="s-24 mat-icon material-icons message-icon" *ngIf="notificationType == 'info'">info</mat-icon>
            <mat-icon class="s-24 mat-icon material-icons message-icon" *ngIf="notificationType == 'success'">check_box</mat-icon>
            <mat-icon class="s-24 mat-icon material-icons message-icon" *ngIf="notificationType == 'warning'">add_alert</mat-icon>
            <mat-icon class="s-24 mat-icon material-icons message-icon" *ngIf="notificationType == 'error'">warning</mat-icon>
        </div>
        <div class="message-label" [innerHtml]="notificationSettings.message | safeHtml"></div>
    </div>
</span>