@import "../../../../../@fuse/scss/fuse";

.message-container {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.message-info {
    color: white;
}

.message-success {
    color: white;
}

.message-warning {
    color: white;
}

.message-error {
    color: white;
}

.message-icon {
    float: left;
}

.message-label {
    float: left;
    font-size: 1.5rem;
    padding-left: 1rem;
}

