<div class="custom-container">
    <div *ngIf="errors">
        <notification-panel [mode]="'error'" [message]="errors"></notification-panel>
    </div>

    <div *ngIf="fwTab">
        <ng-container [ngSwitch]="customTabName">

            <ng-container *ngSwitchCase="'process.execution.log'">
                <div *ngFor="let log of fwLogData" class="process-log-container">
                    <div class="process-log-row">
                        <mat-icon [inline]="true" *ngIf="log.ltype === 'SUCCESS'" class="process-log-SUCCESS">done</mat-icon>
                        <mat-icon [inline]="true" *ngIf="log.ltype === 'ERROR'" class="process-log-ERROR">block</mat-icon>
                        <mat-icon [inline]="true" *ngIf="log.ltype === 'WARNING'" class="process-log-WARN">error_ouline</mat-icon>
                    </div>
                    <div class="process-log-{{log.ltype}}">{{log.created | date: 'dd/MM/yy HH:mm:ss'}}</div>
                    <div class="process-log-{{log.ltype}}">{{log.log}}</div>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="'designer'">
                <form-designer [parentItem]="parentItem" [parentTab]="parentTab"></form-designer>
            </ng-container>

            <ng-container *ngSwitchCase="'process.planning'">
                <process-planning [parentItem]="parentItem" [gui]="parentTab.tab.gui"></process-planning>
            </ng-container>

            <ng-container *ngSwitchCase="'menu.role'">
                <menu-role [parentItem]="parentItem" [gui]="parentTab.tab.gui"></menu-role>
            </ng-container>

            <ng-container *ngSwitchCase="'sql.execute'">
                <query-exec></query-exec>
            </ng-container>

            <ng-container *ngSwitchDefault>
                <notification-panel [mode]="'warning'" [message]="fwErrors" *ngIf="fwErrors"></notification-panel>
            </ng-container>
        </ng-container>
    </div>

    <div *ngIf="!fwTab">
        <custom-tabs [parentItem]="parentItem" [parentTab]="parentTab" [usedInChild]="usedInChild"
                     [moduleName]="customModuleName" [tabName]="customTabName" [showInPopup]="showInPopup">
        </custom-tabs>
    </div>
</div>
