:host {

    .menu-filter-search {
        margin-left: 2rem;
        width: 23rem;
        padding: 0.5rem;
        background-color: white;
        border-radius: 1.5rem;
        height: 3rem;
        margin-bottom: 1.2rem;
    }

    .menu-filter-search input {
        color: black;
        float: left;
        width: 18rem;
        margin: 0.2rem 0 0 0.8rem;
        border: 0;
        padding: 0;
        background-color: transparent;
    }

    .menu-filter-search-button {
        float: right;
    }

    .menu-filter-result {
        margin-bottom: 1rem;
    }

    .menu-filter-item {
        padding-left: 4rem;
        color: white;
        display: grid;
        grid-template-columns: 3rem 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        cursor: pointer;
        opacity: 1;
    }

    .menu-filter-item:hover {
        opacity: 0.8;
    }

    .menu-filter-item-name {
        padding-top: 0.3rem;
    }
}
