<ng-container *ngIf="show">
    <div class="menu-filter-search">
        <input type="text" [placeholder]="placeholder" [(ngModel)]="search" (keyup)="searchMenu()">
        <i class="material-icons menu-filter-search-button" *ngIf="search" (click)="clearSearch()">clear</i>
    </div>

    <div class="menu-filter-result">
        <div *ngFor="let item of menu">
            <div class="menu-filter-item" (click)="navigateToMenu(item)">
                <div><mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon></div>
                <div class="menu-filter-item-name">{{item.name}}</div>
            </div>
        </div>
    </div>
</ng-container>
