<div class="container">
    <div mat-dialog-title class="global-dialog-title">
        {{'AD_captionTranslation' | translate}}
        <mat-icon (click)="doCancel()" class="global-dialog-close">close</mat-icon>
    </div>

    <div mat-dialog-content class="translation-dialog-content">
        <form [formGroup]="translationForm">
            <autogen-tabledir *ngIf="admin" [allowBlank]="false" [label]="'AD_translationClients' | translate"
                              [autogenForm]="translationForm" [name]="'idClient'" [reference]="reference">
            </autogen-tabledir>

            <mat-tab-group>
                <mat-tab *ngFor="let lang of languages">
                    <ng-template mat-tab-label>
                        <img src="assets/images/blank.gif" class="flag flag-{{lang.countrycode}}">
                        {{lang.name}}
                    </ng-template>
                    <div class="translation-dialog-tab-content">
                        <ng-container [ngSwitch]="editType">
                            <ng-container *ngSwitchCase="'TEXT'">
                                <input matInput [formControlName]="lang.iso2" type="text" class="translation-dialog-text">
                            </ng-container>

                            <ng-container *ngSwitchCase="'TEXTAREA'">
                                <textarea matInput [formControlName]="lang.iso2" [rows]="10" class="translation-dialog-textarea"></textarea>
                            </ng-container>

                            <ng-container *ngSwitchCase="'HTML'">
                                <ckeditor [editor]="ckEditor" [formControlName]="lang.iso2"></ckeditor>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <label>{{editType}} - Sin implementar / Not implemented</label>
                            </ng-container>
                        </ng-container>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>

    <div mat-dialog-actions class="global-dialog-actions">
        <vinco-button [buttonType]="buttonType" [color]="'accent'" [cssClass]="'form-content-actions-right'" [caption]="'AD_btnOK'" (click)="doAccept()"></vinco-button>
        <vinco-button [buttonType]="buttonType" [color]="'warn'" [cssClass]="'form-content-actions-left'" [caption]="'AD_btnCancel'" (click)="doCancel()"></vinco-button>
    </div>
</div>

