@import '../../../../../@fuse/scss/fuse';

.translation-dialog-content {
    padding: 2rem;
}

.translation-dialog-tab-content {
    padding: 1rem;
}

.translation-dialog-textarea {
    border: 1px solid #CCCCCC;
    padding: 0.5rem;
}

.translation-dialog-text {
    border: 1px solid #CCCCCC;
    padding: 0.5rem;
}
