<ng-container *ngIf="!readOnly">
    <ng-container *ngIf="!filterRange">
        <ng-container *ngTemplateOutlet="textTemplate;context:contextName"></ng-container>
    </ng-container>

    <div *ngIf="filterRange" class="autogen-textbox-range-container">
        <div class="autogen-textbox-range-field">
            <ng-container *ngTemplateOutlet="textTemplate;context:contextFromName"></ng-container>
        </div>
        <div class="autogen-textbox-range-field-separator">_</div>
        <div class="autogen-textbox-range-field">
            <ng-container *ngTemplateOutlet="textTemplate;context:contextToName"></ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="readOnly">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <input matInput *ngIf="editorType !== 'textarea'" [formControlName]="name" readonly class="field-read-only">
        <textarea matInput *ngIf="editorType === 'textarea'" [formControlName]="name" [rows]="rows" readonly class="field-read-only"></textarea>
    </mat-form-field>
</ng-container>

<ng-template #textTemplate let-templContext="templContext">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label *ngIf="templContext.label">{{templContext.label}}</mat-label>
        <input matInput *ngIf="editorType === 'text' || editorType === 'email' || editorType === 'password'" [placeholder]="placeholder" [formControlName]="templContext.name" [type]="editorType === 'password' ? 'password' : 'text'" [autocomplete]="autocomplete">
        <input matInput *ngIf="editorType === 'integer' || editorType === 'number'" [placeholder]="placeholder" [min]="minValue" [max]="maxValue" [formControlName]="templContext.name" type="number" [step]="editorType === 'integer' ? 1 : 0.01" [autocomplete]="autocomplete">
        <input matInput *ngIf="editorType === 'time'" [placeholder]="placeholder" [formControlName]="templContext.name" type="time">
        <textarea matInput *ngIf="editorType === 'textarea'" [formControlName]="templContext.name" [placeholder]="placeholder" [rows]="rows"></textarea>
        <mat-icon matSuffix *ngIf="description" (click)="onHelp()" class="editor-cursor">help_outline</mat-icon>
        <mat-icon matSuffix *ngIf="translatable" (click)="onTranslate()" class="editor-cursor">g_translate</mat-icon>
        <mat-hint *ngIf="templContext.hint">{{templContext.hint}}</mat-hint>
        <mat-error *ngIf="autogenForm.get(templContext.name).errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
        <mat-error *ngIf="autogenForm.get(templContext.name).errors?.minlength">{{'AD_ErrValidationSizeLengthMin' | translate: [autogenForm.get(templContext.name).errors.minlength.requiredLength]}}</mat-error>
        <mat-error *ngIf="autogenForm.get(templContext.name).errors?.maxlength">{{'AD_ErrValidationSizeLengthMax' | translate: [autogenForm.get(templContext.name).errors.maxlength.requiredLength]}}</mat-error>
        <mat-error *ngIf="autogenForm.get(templContext.name).errors?.min">{{'AD_ErrValidationSizeMin' | translate: [autogenForm.get(templContext.name).errors.min.min]}}</mat-error>
        <mat-error *ngIf="autogenForm.get(templContext.name).errors?.max">{{'AD_ErrValidationSizeMax' | translate: [autogenForm.get(templContext.name).errors.max.max]}}</mat-error>
    </mat-form-field>
</ng-template>