:host{
    width: 100%;

    .mat-form-field {
        width: 100%;
    }

    .autogen-textbox-range-field {
        width: 11rem;
    }

    .autogen-textbox-range-field-separator {
        padding-top: 2rem;
    }

    .autogen-textbox-range-container {
        display: grid;
        grid-template-columns: 1fr 1rem 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
    }

}


