<div class="header mat-elevation-z4 primary" fxLayout="row" fxLayoutAlign="space-between center">
    <ng-container >
        <div class="title" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="text-truncate text-bold" *ngIf="activePanel === 'profile'">{{'AD_GlobalTabProfile' | translate}}</h3>
            <h3 class="text-truncate text-bold" *ngIf="activePanel === 'password'">{{'AD_GlobalTabChangePassword' | translate}}</h3>
            <h3 class="text-truncate text-bold" *ngIf="activePanel === 'data'">{{'AD_GlobalTabInfo' | translate}}</h3>
        </div>
    </ng-container>

    <button mat-icon-button class="toggle-sidebar-folded mr-8" (click)="foldSidebarTemporarily()" fxHide fxShow.gt-md>
        <mat-icon class="secondary-text s-20">close</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-open mr-8" (click)="toggleSidebarOpen()" fxHide.gt-md>
        <mat-icon class="secondary-text">close</mat-icon>
    </button>
</div>

<div class="content">
    <!-- Menu -->
    <div id="menus-list" class="primary-50-bg" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">
        <div class="menu-list-item" [class.active]="activePanel === 'profile'" (click)="togglePanel('profile')">
            <div class="avatar" [matTooltip]="'AD_GlobalTabProfile' | translate" matTooltipPosition="left">
                <mat-icon class="">settings</mat-icon>
            </div>
        </div>

        <div class="menu-list-item" [class.active]="activePanel === 'password'" (click)="togglePanel('password')">
            <div class="avatar" [matTooltip]="'AD_GlobalTabChangePassword' | translate" matTooltipPosition="left">
                <mat-icon class="">lock</mat-icon>
            </div>
        </div>

        <div class="menu-list-item" [class.active]="activePanel === 'data'" (click)="togglePanel('data')">
            <div class="avatar" [matTooltip]="'AD_GlobalTabInfo' | translate" matTooltipPosition="left">
                <mat-icon class="">chrome_reader_mode</mat-icon>
            </div>
        </div>
    </div>
    <!-- / Menu -->

    <!-- Menu details -->
    <div id="options-menu" fxLayout="column" fxFlex="1 1 auto">
        <div id="menu-detail" class="details" fxFlex="1 1 auto" fusePerfectScrollbar>
            <ng-container *ngIf="activePanel === 'profile'">
                <profile-menu (close)="foldSidebarTemporarily()"></profile-menu>
            </ng-container>

            <ng-container *ngIf="activePanel === 'password'">
                <password-menu (close)="foldSidebarTemporarily()"></password-menu>
            </ng-container>

            <ng-container *ngIf="activePanel === 'data'">
                <info-menu (close)="foldSidebarTemporarily()"></info-menu>
            </ng-container>
        </div>
    </div>
    <!-- / Menu details -->
</div>