@import "../../../../@fuse/scss/fuse";

profile-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    z-index: 99;
    overflow: hidden;

    @include media-breakpoint('xs') {
        max-width: none !important;
        width: 100% !important;
    }

    .header {
        position: relative;
        height: 64px;
        max-height: 64px;
        min-height: 64px;
        z-index: 10;

        .title {
            cursor: pointer;

            mat-icon {
                margin-left: 4px;
            }

            h3 {
                margin-left: 10px;
                max-width: 120px;
                transition: opacity 300ms ease-in-out;
            }
        }

    }

    .content {
        flex: 1 1 100%;
        min-height: 0;
    }

    #menus-list {
        position: relative;
        z-index: 5;
        padding: 16px 0;
        width: 72px;
        min-width: 72px;
        max-width: 72px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        // Perfect scrollbar
        .ps__rail-y {
            width: 3px !important;

            .ps__thumb-y {
                width: 3px !important;
            }
        }

        .menu-list-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
            height: 56px;
            cursor: pointer;

            &.active {
                position: relative;

                &:after {
                    position: absolute;
                    top: 8px;
                    right: 0;
                    bottom: 8px;
                    content: "";
                    width: 4px;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    background-color: #646464;
                }
            }

            .avatar {
                margin: 0;
                width: 32px;
                height: 32px;
                min-width: 32px;
            }

            .unread-count {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 18px;
                height: 18px;
                top: 8px;
                left: 12px;
                border-radius: 9px;
                padding: 0 5px;
                font-size: 11px;
                text-align: center;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
            }

            .status-icon {
                position: absolute;
                width: 12px;
                height: 12px;
                bottom: 10px;
                left: 44px;
                border: 2px solid;
                border-radius: 50%;

                &.online {
                    background-color: #4CAF50;
                }

                &.do-not-disturb {
                    background-color: #F44336;
                }

                &.away {
                    background-color: #FFC107;
                }

                &.offline {
                    background-color: #646464;
                }
            }
        }
    }

    #profile {
        position: relative;
        z-index: 7;
        flex: 1 1 100%;
        box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.25);

        .details {
            position: relative;
            padding: 16px 0 40px 40px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            

            .no-menu-selected {
                position: absolute;
                top: 50%;
                right: 0;
                left: 0;
                transform: translateY(-50%);
                padding: 0 24px;
                text-align: center;

                .no-menu {
                    margin-top: 24px;
                }
            }
        }
    }
}

fuse-sidebar {

    &.profile-panel {
        width: 360px;
        min-width: 360px;
        max-width: 360px;

        @include media-breakpoint('xs') {
            min-width: 0 !important;
            max-width: 100vw !important;
            width: 100vw !important;
        }

        &.left-profile-panel {

            .header {

                .toggle-sidebar-folded,
                .toggle-sidebar-open {

                    mat-icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        // Folded
        &.folded {

            profile-panel {

                .header {

                    .title {

                        h3 {
                            opacity: 0;
                        }
                    }
                }
            }

            // Folded unfolded
            &.unfolded {

                profile-panel {

                    .header {

                        .title {

                            h3 {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}