<div class="autogen-table-buttons">
    <ng-container *ngIf="mode === 'list'">
        <button mat-icon-button *ngIf="btnRefresh">
            <mat-icon (click)="doRefresh()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarRefresh' | translate}}">refresh</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnExportItem">
            <mat-icon (click)="doExportItem()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarDownload' | translate}}">archive</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnSortable">
            <mat-icon (click)="doSort()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarSort' | translate}}">format_list_numbered</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnMultiSelect">
            <mat-icon (click)="doMultiSelect()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNewMultiSelect' | translate}}">library_add</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnNewItem">
            <mat-icon (click)="doNewItem()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarNew' | translate}}">add</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnEditItem">
            <mat-icon (click)="doEditItem()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarEdit' | translate}}">edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnDeleteItem">
            <mat-icon (click)="doDeleteItem()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarDelete' | translate}}">delete</mat-icon>
        </button>
        <button mat-icon-button *ngFor="let btn of customButtons">
            <mat-icon (click)="doCustomAction(btn)" matTooltipPosition="above" matTooltip="{{btn.caption}}">{{btn.relatedColumn.reference.refButton.icon}}</mat-icon>
        </button>
        <button mat-icon-button *ngIf="btnSelectColumns">
            <mat-icon (click)="doSelectColumns()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarChangeColumns' | translate}}">view_column</mat-icon>
        </button>
    </ng-container>

    <button mat-icon-button *ngIf="mode === 'multiselect'">
        <mat-icon (click)="doMultiSelectSave()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarSave' | translate}}">done_outline</mat-icon>
    </button>
    <button mat-icon-button *ngIf="mode === 'multiselect'">
        <mat-icon (click)="doMultiSelectCancel()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarCancel' | translate}}">clear</mat-icon>
    </button>
    <button mat-icon-button *ngIf="mode === 'sort' || mode === 'multiselect'">
        <mat-icon (click)="doList()" matTooltipPosition="above" matTooltip="{{'AD_msgCaptionBarShowList' | translate}}">list</mat-icon>
    </button>
</div>