<div class="autogen-chart-pie-container">
    <ng-container [ngSwitch]="pieMode">
        <ng-container *ngSwitchCase="'PIE_CHART_STANDARD'">
            <ngx-charts-pie-chart [scheme]="colorSet" [animations]="animations" [tooltipDisabled]="disableTooltip"
                                  [gradient]="gradient" [doughnut]="isDoughnut" [arcWidth]="arcWidth"
                                  [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                  [labels]="showLabels" [explodeSlices]="explodeSlices" [results]="values" (select)="select($event)">
            </ngx-charts-pie-chart>
        </ng-container>

        <ng-container *ngSwitchCase="'PIE_CHART_ADVANCED'">
            <ngx-charts-advanced-pie-chart [scheme]="colorSet" [animations]="animations" [tooltipDisabled]="disableTooltip"
                                           [gradient]="gradient" [results]="values" (select)="select($event)">
            </ngx-charts-advanced-pie-chart>
        </ng-container>

        <ng-container *ngSwitchCase="'PIE_CHART_GRID'">
            <ngx-charts-pie-grid [scheme]="colorSet" [animations]="animations" [tooltipDisabled]="disableTooltip"
                                 [results]="values" (select)="select($event)">
            </ngx-charts-pie-grid>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <p>&nbsp;</p>
            <notification-panel [mode]="'warning'" [message]="'Pie: ('+ pieMode + ') not implemented'"></notification-panel>
        </ng-container>
    </ng-container>
</div>
