:host{
    width: 100%;
}

.filter-container-horizontal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
}

.filter-container-horizontal-2-col {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
}

.filter-container-vertical {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4rem;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    width: 26rem;
}

.filter-field-horizontal {
    width: 26rem;
    float: left;
    padding-left: 1rem;
}

.filter-field-vertical {

}

.filter-button-horizontal {
    text-align: center;
    padding-top: 1.7rem;
    padding-right: 1rem;
}

@media (max-width: 40rem) {
    .filter-container-horizontal-2col {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5rem;
        grid-column-gap: 0px;
        grid-row-gap: 1rem;
    }

    .filter-button-horizontal {
        padding-top: 0px;
    }

    .filter-field-horizontal {
        width: 100%;
    }
}