<div [ngClass]="{
    'filter-container-horizontal': orientation === 'horizontal' && tab.gui.filterApply === 'auto',
    'filter-container-horizontal-2-col': orientation === 'horizontal' && tab.gui.filterApply === 'manual',
    'filter-container-vertical': orientation === 'vertical'}">
    <div class="pt-8" *ngIf="tab">
        <div [ngClass]="{ 'filter-field-horizontal': orientation === 'horizontal', 'filter-field-vertical': orientation === 'vertical'}">
            <ng-container *ngIf="groupedSearch">
                <autogen-filter-search [autogenForm]="autogenForm"></autogen-filter-search>
            </ng-container>
        </div>
        <div *ngFor="let filter of filterColumns" [ngClass]="{ 'filter-field-horizontal': orientation === 'horizontal', 'filter-field-vertical': orientation === 'vertical'}">
            <ng-container *ngIf="filter.relatedField">
                <ng-container [ngSwitch]="filter.reference.rtype">
                    <autogen-list *ngSwitchCase="'LIST'" [readOnly]="false" [allowBlank]="true" [label]="filter.relatedField.caption"
                                  [autogenForm]="autogenForm" [name]="filter.name" [multiple]="filter.relatedField.filterType === 'MULTISELECT'"
                                  [reference]="filter.reference">
                    </autogen-list>

                    <autogen-tabledir *ngSwitchCase="'TABLEDIR'" [readOnly]="false" [allowBlank]="true" [label]="filter.relatedField.caption"
                                      [autogenForm]="autogenForm" [name]="filter.name" [multiple]="filter.relatedField.filterType === 'MULTISELECT'"
                                      [reference]="filter.reference">
                    </autogen-tabledir>

                    <autogen-table *ngSwitchCase="'TABLE'" [readOnly]="false" [label]="filter.relatedField.caption"
                                   [autogenForm]="autogenForm" [name]="filter.name" [item]="parentItem"
                                   [reference]="filter.reference">
                    </autogen-table>

                    <autogen-textbox *ngSwitchCase="'STRING'" [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'TEXT'"   [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'EMAIL'"   [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'HTML'"   [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'INTEGER'" [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"
                                     [editorType]="'integer'" [filterRange]="filter.relatedField.filterRange">
                    </autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'NUMBER'" [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"
                                     [editorType]="'number'" [filterRange]="filter.relatedField.filterRange">
                    </autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'IMAGE'"  [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-textbox>

                    <autogen-textbox *ngSwitchCase="'FILE'"   [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-textbox>

                    <autogen-date *ngSwitchCase="'DATE'" [label]="filter.relatedField.caption" [autogenForm]="autogenForm"
                                  [name]="filter.name" [filterRange]="filter.relatedField.filterRange">
                    </autogen-date>

                    <autogen-date *ngSwitchCase="'TIMESTAMP'" [label]="filter.relatedField.caption" [autogenForm]="autogenForm"
                                  [name]="filter.name" [filterRange]="filter.relatedField.filterRange">
                    </autogen-date>

                    <autogen-filter-yesno *ngSwitchCase="'YESNO'" [label]="filter.relatedField.caption" [autogenForm]="autogenForm" [name]="filter.name"></autogen-filter-yesno>

                    <label *ngSwitchDefault>
                        {{filter.reference.rtype}} - {{filter.relatedField.caption}} - Sin implementar
                    </label>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div [ngClass]="{ 'filter-button-horizontal': orientation === 'horizontal', 'filter-button-vertical': orientation === 'vertical'}"
         *ngIf="tab.gui.filterApply === 'manual' && (groupedSearch || filterColumns.length > 0)">
        <vinco-button [buttonType]="tab.gui.button" [color]="'warn'" [cssClass]="'form-content-actions-left'"
                      [icon]="'clear'" (click)="doClear()">
        </vinco-button>
        <vinco-button [buttonType]="tab.gui.button" [color]="'accent'" [cssClass]="'form-content-actions-right'"
                      [caption]="'AD_btnSearch'" (click)="doFilter()">
        </vinco-button>
    </div>
</div>
