<div class="content" fxLayout="row" fxLayoutAlign="center" fxFlexFill>

    <form fxFlex="90" fxFlex.gt-sm="60" id="login-form" name="loginForm" class="smart-form client-form" novalidate  [formGroup]="loginForm" >
        <mat-card class="mat-elevation-z14">
            <mat-card-title>{{'AD_GlobalRecoverPassword' | translate}}</mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>

                <notification-panel *ngIf="serverError" [mode]="'error'" [message]="serverMessage" [height]="'6rem'"></notification-panel>

                <mat-form-field>
                    <input matInput placeholder="{{'AD_GlobalEmail' | translate}}" [formControl]="email" [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint>{{'AD_GlobalEnterEmail' | translate}}</mat-hint>
                    <mat-error *ngIf="email.hasError('required')">{{'AD_errFieldMandatory' | translate}}</mat-error>
                    <mat-error *ngIf="email.hasError('email')">{{'AD_ErrValidationInvalidValue' | translate}}</mat-error>
                </mat-form-field>
                <div class="note" fxFlexOffset="5" >
                    <a (click)="doLogin()">{{'AD_GlobalPasswordRemembered' | translate}}</a>
                </div>
                <div class="note" fxFlexOffset="26"></div>
            </mat-card-content>
            <mat-card-actions fxLayout="column" fxLayoutAlign="space-around stretch">
                <button (click)="doRetrievePassword()" fxFlex="90" mat-flat-button>{{'AD_GlobalRecoverPassword' | translate}}</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>

