@import "../../../../../@fuse/scss/fuse";

.confirm-dialog-content {
    padding: 2rem;
    min-width: 70%;
    display: grid;
    grid-template-columns: 7rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.confirm-dialog-content-icon {
    font-size: 48px;
    width: 48px;
}

.confirm-icon-info {
    color: black;
}

.confirm-icon-warn {
    color: orange;
}

.confirm-icon-error {
    color: darkred;
}

.confirm-icon-sucess {
    color: green;
}
