@import "../../../../../@fuse/scss/fuse";

.designer-container {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0px;
}

.designer-properties {
    padding: 1rem;
    border-right: 1px solid #CCCCCC;
}

.designer-form {
    padding: 1rem;
}

.mat-form-field {
    width: 100%;
}

.designer-edit-number {
    width: 5rem !important;
}

.designer-form-content-groups {
    margin-top: 2rem;
}

.designer-form-container {
    border: 1px dotted #CCCCCC;
}
