<div class="designer-container">
    <div class="designer-properties">
        <form [formGroup]="designerForm">
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerColumns' | translate}}</mat-label>
                <textarea matInput [formControlName]="'gridColumns'" [rows]="3"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerField' | translate}}</mat-label>
                <mat-select [formControlName]="'field'">
                    <mat-option *ngFor="let fld of fields" [value]="fld.idField">{{fld.caption}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerCaption' | translate}}</mat-label>
                <input matInput [formControlName]="'caption'">
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerGroup' | translate}}</mat-label>
                <mat-select [formControlName]="'group'">
                    <mat-option>-- {{'AD_ValueNone' | translate}} --</mat-option>
                    <mat-optgroup *ngFor="let group of groups" [label]="group.name">
                        <mat-option *ngFor="let grp of group.groups" [value]="grp.id">{{grp.name}}</mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerSpan' | translate}}</mat-label>
                <input matInput [formControlName]="'span'" type="number" min="1">
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerSeqno' | translate}}</mat-label>
                <input matInput [formControlName]="'seqno'" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerGridSeqno' | translate}}</mat-label>
                <input matInput [formControlName]="'gridSeqno'" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill" [formGroup]="designerForm">
                <mat-label>{{'AD_DesignerGUICustomWidth' | translate}}</mat-label>
                <input matInput [formControlName]="'guiCustomWidth'">
            </mat-form-field>
            <div [formGroup]="designerForm">
                <mat-checkbox [formControlName]="'displayed'"></mat-checkbox>
                <mat-label>&nbsp;{{'AD_DesignerDisplayed' | translate}}</mat-label>
            </div>
            <div [formGroup]="designerForm">
                <mat-checkbox [formControlName]="'showingrid'"></mat-checkbox>
                <mat-label>&nbsp;{{'AD_DesignerGridDisplayed' | translate}}</mat-label>
            </div>
            <div [formGroup]="designerForm">
                <mat-checkbox [formControlName]="'startnewrow'"></mat-checkbox>
                <mat-label>&nbsp;{{'AD_DesignerStartNewRow' | translate}}</mat-label>
            </div>
            <div [formGroup]="designerForm">
                <mat-checkbox [formControlName]="'readonly'"></mat-checkbox>
                <mat-label>&nbsp;{{'AD_DesignerReadonly' | translate}}</mat-label>
            </div>
        </form>
    </div>

    <div class="designer-form">
        <ng-container *ngIf="!showFormFields">
            <notification-panel [mode]="'warning'" [message]="'AD_DesignerEmptyFields' | translate"></notification-panel>
        </ng-container>

        <ng-container *ngIf="showFormFields">
            <div class="designer-form-container">
                <form-designer-fields [fields]="ungroupedFields" [gridColumns]="ungroupedGridColumns" (onSelect)="doSelectedField($event)"></form-designer-fields>

                <div class="designer-form-content-groups mat-elevation-z5">
                    <mat-accordion multi="true">
                        <ng-container *ngFor="let fieldGroup of fieldGroups">
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{fieldGroup.name}}</mat-panel-title>
                                </mat-expansion-panel-header>

                                <form-designer-fields [fields]="fieldGroup.fields" [gridColumns]="fieldGroup.gridColumns" (onSelect)="doSelectedField($event)"></form-designer-fields>
                            </mat-expansion-panel>
                        </ng-container>
                    </mat-accordion>
                </div>
            </div>

            <!-- Form buttons -->
            <div class="form-actions">
                <vinco-button [buttonType]="'mat-raised-button'" [color]="'accent'" [cssClass]="'form-content-actions-right'"
                              [caption]="'AD_btnDesignerSave'" (click)="doSave()">
                </vinco-button>
            </div>

            <p></p>
            <div *ngIf="designerModify">
                <notification-panel [mode]="'error'" [message]="'AD_DesignerChangesNotSaved' | translate"></notification-panel>
            </div>
        </ng-container>
    </div>
</div>
