<div class="autogen-card-container">
    <div class="fields-row-grid {{row.cssGrid}}" [style.grid-template-columns]="row.cssGridTemplateColumns | safeStyle" *ngFor="let row of rows">
        <div *ngFor="let fld of row.columns" class="fields {{fld.cssGridArea}}">
            <div *ngIf="fld.runtimeDisplayed">
                <label *ngIf="fld.caption !== '-'">{{fld.caption}}: </label>
                <label class="{{fld.cssItemClass}}" [innerHTML]="item['cardValue$' + fld.columnName] | safeHtml"></label>
            </div>
        </div>
    </div>
</div>