<ng-container *ngIf="tab">
    <ng-container [ngSwitch]="tab.ttype">
        <ng-container *ngSwitchCase="'USERDEFINED'">
            <vinco-custom-tab [relatedTab]="tab" [parentItem]="parentItem" [loadOnInit]="loadOnInit" [showInPopup]="showInPopup"></vinco-custom-tab>
        </ng-container>

        <ng-container *ngSwitchCase="'CHART'">
            <autogen-chart [relatedTab]="tab" [tabTitle]="tab.name" [parentItem]="parentItem" [loadOnInit]="loadOnInit"></autogen-chart>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <autogen-datatable *ngIf="showMode === 'datatable'" [tabTitle]="tab.name" [usedInChild]="usedInChild"
                               [relatedTab]="tab" [parentItem]="parentItem" [loadOnInit]="loadOnInit"
                               (editItems)="doEditItems($event)">
            </autogen-datatable>
        </ng-container>
    </ng-container>

    <autogen-form *ngIf="showMode === 'form'" [tabTitle]="tab.name" [relatedTab]="tab" [parentItem]="parentItem"
                  [usedInChild]="usedInChild" [showInPopup]="showInPopup" [selectedItems]="selectedItems" (listItems)="doListItems()">
    </autogen-form>
</ng-container>


