.autogen-html-container {
    height: 23rem;
}

.autogen-html-label {
    margin-bottom: 0.5rem;
}

.autogen-html-readonly {
    height: 19rem;
    overflow: auto;
    border: 1px solid #CCCCCC;
    padding: 0 1rem;
}