<div class="autogen-html-container">
    <ng-container *ngIf="!readOnly">
        <div class="autogen-html-label">
            <div class="pull-left">{{label}}</div>
            <div class="pull-right">
                <mat-icon matSuffix *ngIf="translatable" (click)="onTranslate()" class="editor-cursor">g_translate</mat-icon>
            </div>
        </div>
        <div class="pull-clear">
            <ckeditor [editor]="ckEditor" [(ngModel)]="content"></ckeditor>
        </div>
        <mat-hint *ngIf="hint">{{hint}}</mat-hint>
        <mat-error *ngIf="mandatoryError">{{'AD_errFieldMandatory' | translate}}</mat-error>
    </ng-container>

    <ng-container *ngIf="readOnly">
        <div class="autogen-html-label">{{label}}</div>
        <div class="autogen-html-readonly" [innerHTML]="content | safeHtml"></div>
    </ng-container>
</div>
