<div class="container">
    <div mat-dialog-title class="global-dialog-title">
        {{data.process.name}}
        <mat-icon (click)="doCancel()" class="global-dialog-close">close</mat-icon>
    </div>

    <div mat-dialog-content class="process-dialog-content">
        <autogen-process [process]="data.process" [showTitle]="false" [item]="data.item" [execMode]="data.buttonType"></autogen-process>
    </div>
</div>

