<div class="autogen-chart-bar-container">
    <ng-container *ngIf="values.length === 0">
        <notification-panel [mode]="'info'" [message]="'AD_msgDataEmpty' | translate"></notification-panel>
    </ng-container>
    <ng-container *ngIf="values.length > 0" [ngSwitch]="barMode">
        <ng-container *ngSwitchCase="'BAR_CHARTS_VERT'">
            <ngx-charts-bar-vertical [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                     [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                     [roundDomains]="roundDomains" [roundEdges]="roundBarEdges" [showDataLabel]="showDataLabel"
                                     [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                     [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-vertical>
        </ng-container>

        <ng-container *ngSwitchCase="'BAR_CHARTS_HORIZ'">
            <ngx-charts-bar-horizontal [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                       [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                       [roundDomains]="roundDomains" [roundEdges]="roundBarEdges" [showDataLabel]="showDataLabel"
                                       [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                       [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-horizontal>
        </ng-container>

        <!-- Grouped bar charts -->
        <ng-container *ngSwitchCase="'BAR_CHARTS_VERT_GROUPED'">
            <ngx-charts-bar-vertical-2d [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                        [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                        [roundDomains]="roundDomains" [roundEdges]="roundBarEdges" [showDataLabel]="showDataLabel"
                                        [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-vertical-2d>
        </ng-container>

        <ng-container *ngSwitchCase="'BAR_CHARTS_HORIZ_GROUPED'">
            <ngx-charts-bar-horizontal-2d [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                        [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                        [roundDomains]="roundDomains" [roundEdges]="roundBarEdges" [showDataLabel]="showDataLabel"
                                        [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-horizontal-2d>
        </ng-container>

        <!-- Stacked bar charts -->
        <ng-container *ngSwitchCase="'BAR_CHARTS_VERT_STACKED'">
            <ngx-charts-bar-vertical-stacked [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                             [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                             [roundDomains]="roundDomains" [showDataLabel]="showDataLabel"
                                             [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                             [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-vertical-stacked>
        </ng-container>

        <ng-container *ngSwitchCase="'BAR_CHARTS_HORIZ_STACKED'">
            <ngx-charts-bar-horizontal-stacked [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                               [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend"
                                               [roundDomains]="roundDomains" [showDataLabel]="showDataLabel"
                                               [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                               [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-horizontal-stacked>
        </ng-container>

        <!-- Normalized bar charts -->
        <ng-container *ngSwitchCase="'BAR_CHARTS_VERT_NORMALIZED'">
            <ngx-charts-bar-vertical-normalized [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                                [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend" [roundDomains]="roundDomains"
                                                [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-vertical-normalized>
        </ng-container>

        <ng-container *ngSwitchCase="'BAR_CHARTS_HORIZ_NORMALIZED'">
            <ngx-charts-bar-horizontal-normalized [scheme]="colorSet" [animations]="animations" [gradient]="gradient" [tooltipDisabled]="disableTooltip"
                                                  [legend]="showLegend" [legendPosition]="legendPosition" [legendTitle]="legend" [roundDomains]="roundDomains"
                                                  [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                                  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="values" (select)="select($event)">
            </ngx-charts-bar-horizontal-normalized>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <p>&nbsp;</p>
            <notification-panel [mode]="'warning'" [message]="'Bar: ('+ barMode + ') not implemented'"></notification-panel>
        </ng-container>
    </ng-container>
</div>
