<div [style.height]="height" class="panel-container">
    <div class="mat-elevation-z14 panel panel-error" *ngIf="mode=='error'">
        <div class="panel-message" [innerHTML]="message | safeHtml"></div>
        <mat-icon class="s-24 mat-icon material-icons panel-icon" role="img" aria-hidden="true">warning</mat-icon>
    </div>

    <div class="mat-elevation-z14 panel panel-warning" *ngIf="mode=='warning'">
        <div class="panel-message" [innerHTML]="message | safeHtml"></div>
        <mat-icon class="s-24 mat-icon material-icons panel-icon" role="img" aria-hidden="true">add_alert</mat-icon>
    </div>

    <div class="mat-elevation-z14 panel panel-success" *ngIf="mode=='success'">
        <div class="panel-message" [innerHTML]="message | safeHtml"></div>
        <mat-icon class="s-24 mat-icon material-icons panel-icon" role="img" aria-hidden="true">check_box</mat-icon>
    </div>

    <div class="mat-elevation-z14 panel panel-info" *ngIf="mode=='info'">
        <div class="panel-message" [innerHTML]="message | safeHtml"></div>
        <mat-icon class="s-24 mat-icon material-icons panel-icon" role="img" aria-hidden="true">info</mat-icon>
    </div>
</div>