:host {
    .panel-container {
        margin-bottom: 1rem;
    }
    .panel-message {
        /* float: left;
        width: calc(100% - 2.6rem); */
    }
    .panel-icon {
        /* float: right; */
        margin-left: auto;
    }
    .panel {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .panel-error {
        background-color: #8B0913;
        color: white;
        padding: 1em;
        margin-bottom: 1em;
        border-left: 5px solid #cc0505;
    }
    .panel-error:hover {
        border-left: 5px solid red;
    }
    .panel-warning {
        background-color: #e6a60f;
        color: white;
        padding: 1em;
        margin-bottom: 1em;
        border-left: 5px solid #f78d03;
    }
    .panel-warning:hover {
        border-left: 5px solid #ffb206;
    }
    .panel-success {
        background-color: #024802;
        color: white;
        padding: 1em;
        margin-bottom: 1em;
        border-left: 5px solid #016d01;
    }
    .panel-success:hover {
        border-left: 5px solid green;
    }
    .panel-info {
        background-color: #30a6f5;
        color: white;
        padding: 1em;
        margin-bottom: 1em;
        border-left: 5px solid #0489e2;
    }
    .panel-info:hover {
        border-left: 5px solid #0598fb;
    }
}