<div mat-dialog-title class="global-dialog-title">{{data.title}}</div>

<div mat-dialog-content class="confirm-dialog-content">
    <div>
        <mat-icon class="mat-icon material-icons confirm-dialog-content-icon {{data.iconClass}}" *ngIf="data.icon">{{data.icon}}</mat-icon>
    </div>
    <div>
        <p [innerHtml]="data.message | safeHtml"></p>
        <ul *ngIf="data.items && data.items.length > 0">
            <li *ngFor="let item of data.items">{{item}}</li>
        </ul>

        <p *ngIf="data.message">{{data.question}}</p>
    </div>
</div>

<div mat-dialog-actions class="global-dialog-actions">
    <vinco-button [buttonType]="'mat-raised-button'" [color]="'warn'" [cssClass]="'form-content-actions-right'" [icon]="'clear'" (click)="doCancel()"></vinco-button>
    <vinco-button [buttonType]="'mat-raised-button'" [color]="'accent'" [cssClass]="'form-content-actions-right'" [icon]="'done_outline'" (click)="doAccept()"></vinco-button>
</div>