<ng-container *ngIf="reference">

    <div *ngIf="!readOnly">
        <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
            <mat-label>{{label}}</mat-label>
            <input #txtInput type="text" [formControlName]="_name" [placeholder]="placeholder" matInput [matAutocomplete]="auto" autocomplete="{{_name + id}}" name="{{_name + id}}">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngIf="isLoading" class="is-loading">{{'AD_GlobalLoading' | translate}}</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let current of tableValues" [value]="current">{{current.value}}</mat-option>
                </ng-container>
            </mat-autocomplete>
            <mat-icon matPrefix *ngIf="editMode && linkToMenu" (click)="onOpenLinkWindow()" class="editor-cursor">undo</mat-icon>
            <div matSuffix class="matSuffixBox">
                <mat-icon matSuffix (click)="clear()" class="editor-cursor">clear</mat-icon>
                <mat-icon matSuffix *ngIf="description" (click)="onHelp()" class="editor-cursor">help_outline</mat-icon>
            </div>
            <mat-hint *ngIf="hint">{{hint}}</mat-hint>
            <mat-error *ngIf="autogenForm.get(_name).errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
        </mat-form-field>
    </div>

    <ng-container *ngIf="readOnly">
        <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
            <mat-label>{{label}}</mat-label>
            <input matInput [formControlName]="readOnlyName" readonly class="field-read-only">
        </mat-form-field>
    </ng-container>

</ng-container>