<div>
    <mat-form-field [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <mat-select [formControlName]="name">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="true">{{'AD_labelYes' | translate}}</mat-option>
            <mat-option [value]="false">{{'AD_labelNo' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>