<ng-container *ngIf="!readOnly">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label *ngIf="label">{{label}}</mat-label>
        <mat-select [formControlName]="name" [multiple]="multiple">
            <mat-option [value]="null" *ngIf="allowBlank && !multiple"></mat-option>
            <ng-container *ngIf="grouped">
                <mat-optgroup *ngFor="let group of groupedValues" [label]="group.name">
                    <mat-option *ngFor="let item of group.values" [value]="item.value">{{item.caption}}</mat-option>
                </mat-optgroup>
            </ng-container>
            <ng-container *ngIf="!grouped">
                <mat-option *ngFor="let item of items" [value]="item.value">{{item.caption}}</mat-option>
            </ng-container>
        </mat-select>
        <mat-icon matSuffix *ngIf="description" (click)="onHelp()" class="editor-cursor">help_outline</mat-icon>
        <mat-hint *ngIf="hint">{{hint}}</mat-hint>
        <mat-error *ngIf="autogenForm.get(name).errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
    </mat-form-field>
</ng-container>

<ng-container *ngIf="readOnly && reference">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <input matInput [formControlName]="name" readonly class="field-read-only">
    </mat-form-field>
</ng-container>
