@import '../../../@fuse/scss/fuse';
:host {

    a {
        cursor: pointer;
    }

    button {
        cursor: pointer;
        background-color: mat-color($mat-blue, 600);
        color: mat-color($mat-gray, 100);
    }
    button:hover {
        background-color: mat-color($mat-blue, 900);
    }

    mat-card {
        padding: 0px;
    }

    mat-card-content {
        padding: 16px;
    }

    mat-checkbox{
        color: mat-color($mat-grey, 500);
    }

    mat-card-actions {
        background-color: mat-color($mat-grey, 100);
        padding: 9px !important;
        min-height: 36px;
    }

    mat-card-footer,
    mat-card-actions{
        margin: 0px;
    }

    mat-card-title {
        background-color: mat-color($mat-grey, 100);
        font-size: 16px;
        font-weight: 300;
        color: mat-color($mat-grey, 800);
        padding: 15px 13px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: mat-color($mat-grey, 300);
    }
}
