<ng-container *ngIf="!readOnly">
    <ng-container *ngIf="!filterRange">
        <ng-container *ngTemplateOutlet="dateTemplate;context:contextName"></ng-container>
    </ng-container>

    <div *ngIf="filterRange" class="autogen-date-range-container">
        <div class="autogen-date-range-field">
            <ng-container *ngTemplateOutlet="dateTemplate;context:contextFromName"></ng-container>
        </div>
        <div class="autogen-date-range-field-separator">_</div>
        <div class="autogen-date-range-field">
            <ng-container *ngTemplateOutlet="dateTemplate;context:contextToName"></ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="readOnly">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <input matInput [formControlName]="name" readonly class="field-read-only">
    </mat-form-field>
</ng-container>

<ng-template #dateTemplate let-templContext="templContext">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label *ngIf="templContext.label">{{templContext.label}}</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="templContext.name" autocomplete="{{templContext.name + id}}" name="{{templContext.name + id}}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-icon matSuffix *ngIf="templContext.description" (click)="onHelp()" class="editor-cursor">help_outline</mat-icon>
        <mat-hint *ngIf="templContext.hint">{{templContext.hint}}</mat-hint>
        <mat-error *ngIf="autogenForm.get(templContext.name).errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
    </mat-form-field>
</ng-template>