// Import Fuse core library
@import "@fuse/scss/core";
@import "@fuse/scss/fuse";
// Import app.theme.scss
@import "app/app.theme";

/*------------------------
 * Helper classes
 *------------------------*/

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-clear {
    clear: both;
}

.editor-cursor {
    cursor: pointer;
}


/*------------------------
 * Global dialog
 *------------------------*/

.global-dialog-title {
    background-color: mat-color($mat-blue-gray, 500);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 2rem;
}

.global-dialog-close {
    float: right;
    cursor: pointer;
}

.global-dialog-close:hover {
    color: #ED4237;
}

.global-dialog-actions {
    padding: 1rem 2rem;
    background-color: mat-color($mat-blue-gray, 100);
    height: 6rem;
}

.global-dialog-actions button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


/*------------------------
 * Global customizations
 *------------------------*/

body.theme-default .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgba(0, 0, 0, 0.38);
    background-color: deepskyblue;
}

::ng-deep .mat-tooltip {
    /* your own custom styles here */
    /* e.g. */
    color: yellow;
}

.mat-dialog-container {
    overflow: hidden !important;
    padding: 0px !important;
}

.mat-dialog-actions {
    display: block !important;
    min-height: 7.5rem !important;
}

.autogen-mat-card {
    padding: 0px !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    color: #666666 !important;
}

.mat-optgroup-label {
    font-weight: bold;
    background-color: #CCCCCC;
}


/*------------------------------
 * Global styles for buttons
 *------------------------------*/

.form-content-actions-left {
    float: left;
    margin-right: 1rem !important;
}

.form-content-actions-right {
    margin-left: 1rem !important;
    float: right;
}

.ck-content {
    height: 14rem !important;
}

.form-actions {
    height: 6rem;
    padding: 1rem 2rem;
    background-color: mat-color($mat-blue-gray, 200);
    border-top: 1px solid mat-color($mat-blue-gray, 700);
}

.datatable-image {
    width: 9rem;
    margin: 0.3rem;
}


/*------------------------
 * Custom Datatable
 *------------------------*/

.custom-datatable-row-header {
    background-color: #c5c6cb;
    color: #757575;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-datatable-cell-header {
    font-weight: bold;
}

.custom-datatable-cell {
    padding-top: 0.3rem;
    overflow: hidden;
}

.custom-datatable-row {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #CCCCCC;
}

.custom-datatable-row:hover {
    cursor: pointer;
    background-color: #dddddd;
}


/*------------------------
 * Snackbar
 *------------------------*/

.error-snackbar {
    background-color: rgba(255, 0, 0, .9) !important;
    color: white;
}

.success-snackbar {
    background-color: rgba(0, 128, 0, .9) !important;
    color: white;
}

.warning-snackbar {
    background-color: rgba(255, 165, 0, .9) !important;
    color: white;
}


/*------------------------
 * User Profile
 *------------------------*/

.flag {
    margin-right: 1em;
}

.language-button-flag {
    margin-top: 0.3em;
}

.language-flag {
    margin-top: 1.3em;
}

.menu-list-item.active {
    background-color: white;
}

.profile-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4em;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

.profile-menu-content {
    padding-left: 1rem;
    padding-top: 1rem;
}

.profile-menu-buttons {
    text-align: right;
    padding-right: 2rem;
}

.profile-menu-item {
    margin-bottom: 1rem;
    font-size: 16px;
}

.profile-menu-item-value {
    padding-left: 2rem;
}


/*------------------------
 * Tab: Table list / Form
 *------------------------*/

.tab-table-filter {
    min-width: 25rem;
}

.ngx-datatable.material .datatable-header {
    background-color: #c5c6cb !important;
}

.datatable-header-cell-label {
    font-size: medium;
}

.mat-header-row {
    background-color: #c5c6cb !important;
}

.mat-header-cell {
    font-size: medium;
}

.autogen-table-form {
    .mat-card-header-text {
        width: 100% !important;
    }
    .mat-card-title {
        width: 100%
    }
    .mat-card-title {
        margin: 0px !important;
    }
    .commands {
        width: 100%;
    }
}

.field-read-only {
    color: #acacac !important;
}

.mat-hint {
    color: blue !important;
}


/*------------------------
 * Process execution log
 *------------------------*/

.process-log-container {
    display: grid;
    grid-template-columns: 3rem 14rem 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.process-log-SUCCESS {
    color: green;
}

.process-log-WARN {
    color: orange;
}

.process-log-ERROR {
    color: red;
}

.process-log-INFO {
    color: black;
}

.process-log-row {
    font-size: 16px;
}


/*------------------------
 * Autogen component styles
 *------------------------*/

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.text-bold {
    font-weight: bold;
}

.text-danger {
    color: #dc3545 !important;
}

.text-info {
    color: #17a2b8 !important;
}

.text-italic {
    font-style: italic;
}

.text-muted {
    color: #6c757d !important;
}

.text-primary {
    color: #007bff !important;
}

.text-row-1 {
    height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-row-2 {
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-success {
    color: #28a745 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.fld-padding-1rem {
    padding: 1rem;
}

.fld-padding-0-5rem {
    padding: 0.5rem;
}

.fld-padding-left {
    padding-left: 1rem;
}

.fld-padding-right {
    padding-right: 1rem;
}

.fld-margin-1rem {
    margin: 1rem;
}

.fld-margin-0-5rem {
    margin: 0.5rem;
}

.fld-margin-top {
    margin-top: 1rem;
}

.fld-margin-bottom {
    margin-bottom: 1rem;
}

.fld-badge {
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}


/***********************************
 * Grid form specifications
 ***********************************/

.fields-row-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
}


/***********************************
 * Grid area definition
 ***********************************/

.fields-area-1 {
    grid-area: area1
}

.fields-area-2 {
    grid-area: area2
}

.fields-area-3 {
    grid-area: area3
}

.fields-area-4 {
    grid-area: area4
}

.fields-area-5 {
    grid-area: area5
}

.fields-area-6 {
    grid-area: area6
}


/***********************************
 * 6 Columns
 ***********************************/

.fields-w6_1-2-3-4-5-6 {
    grid-template-areas: "area1 area2 area3 area4 area5 area6";
}

.fields-w6_1-2-2-4-5-6 {
    grid-template-areas: "area1 area2 area2 area4 area5 area6";
}

.fields-w6_1-2-2-2-5-6 {
    grid-template-areas: "area1 area2 area2 area2 area5 area6";
}

.fields-w6_1-2-2-2-2-6 {
    grid-template-areas: "area1 area2 area2 area2 area2 area6";
}

.fields-w6_1-2-2-2-2-2 {
    grid-template-areas: "area1 area2 area2 area2 area2 area2";
}

.fields-w6_1-2-3-3-5-6 {
    grid-template-areas: "area1 area2 area3 area3 area5 area6";
}

.fields-w6_1-2-3-3-3-6 {
    grid-template-areas: "area1 area2 area3 area3 area3 area6";
}

.fields-w6_1-2-3-3-3-3 {
    grid-template-areas: "area1 area2 area3 area3 area3 area3";
}

.fields-w6_1-2-3-4-4-6 {
    grid-template-areas: "area1 area2 area3 area4 area4 area6";
}

.fields-w6_1-2-3-4-4-4 {
    grid-template-areas: "area1 area2 area3 area4 area4 area4";
}

.fields-w6_1-2-3-4-5-5 {
    grid-template-areas: "area1 area2 area3 area4 area5 area5";
}

.fields-w6_1-1-3-4-5-6 {
    grid-template-areas: "area1 area1 area3 area4 area5 area6";
}

.fields-w6_1-1-3-3-5-6 {
    grid-template-areas: "area1 area1 area3 area3 area5 area6";
}

.fields-w6_1-1-3-3-3-6 {
    grid-template-areas: "area1 area1 area3 area3 area3 area6";
}

.fields-w6_1-1-3-3-3-3 {
    grid-template-areas: "area1 area1 area3 area3 area3 area3";
}

.fields-w6_1-1-1-4-5-6 {
    grid-template-areas: "area1 area1 area1 area4 area5 area6";
}

.fields-w6_1-1-1-4-4-6 {
    grid-template-areas: "area1 area1 area1 area4 area4 area6";
}

.fields-w6_1-1-1-4-4-4 {
    grid-template-areas: "area1 area1 area1 area4 area4 area4";
}

.fields-w6_1-1-1-1-5-6 {
    grid-template-areas: "area1 area1 area1 area1 area5 area6";
}

.fields-w6_1-1-1-1-5-5 {
    grid-template-areas: "area1 area1 area1 area1 area5 area5";
}

.fields-w6_1-1-1-1-1-6 {
    grid-template-areas: "area1 area1 area1 area1 area1 area6";
}

.fields-w6_1-1-1-1-1-1 {
    grid-template-areas: "area1 area1 area1 area1 area1 area1";
}


/***********************************
 * 5 Columns
 ***********************************/

.fields-w5_1-2-3-4-5 {
    grid-template-areas: "area1 area2 area3 area4 area5";
}

.fields-w5_1-2-2-4-5 {
    grid-template-areas: "area1 area2 area2 area4 area5";
}

.fields-w5_1-2-2-2-5 {
    grid-template-areas: "area1 area2 area2 area2 area5";
}

.fields-w5_1-2-2-2-2 {
    grid-template-areas: "area1 area2 area2 area2 area2";
}

.fields-w5_1-2-3-3-5 {
    grid-template-areas: "area1 area2 area3 area3 area5";
}

.fields-w5_1-2-3-3-3 {
    grid-template-areas: "area1 area2 area3 area3 area3";
}

.fields-w5_1-2-3-4-4 {
    grid-template-areas: "area1 area2 area3 area4 area4";
}

.fields-w5_1-1-3-4-5 {
    grid-template-areas: "area1 area1 area3 area4 area5";
}

.fields-w5_1-1-3-3-5 {
    grid-template-areas: "area1 area1 area3 area3 area5";
}

.fields-w5_1-1-3-3-3 {
    grid-template-areas: "area1 area1 area3 area3 area3";
}

.fields-w5_1-1-1-4-5 {
    grid-template-areas: "area1 area1 area1 area4 area5";
}

.fields-w5_1-1-1-4-4 {
    grid-template-areas: "area1 area1 area1 area4 area4";
}

.fields-w5_1-1-1-1-5 {
    grid-template-areas: "area1 area1 area1 area1 area5";
}

.fields-w5_1-1-1-1-1 {
    grid-template-areas: "area1 area1 area1 area1 area1";
}


/***********************************
 * 4 Columns
 ***********************************/

.fields-w4_1-2-3-4 {
    grid-template-areas: "area1 area2 area3 area4";
}

.fields-w4_1-2-2-4 {
    grid-template-areas: "area1 area2 area2 area4";
}

.fields-w4_1-2-2-2 {
    grid-template-areas: "area1 area2 area2 area2";
}

.fields-w4_1-2-3-3 {
    grid-template-areas: "area1 area2 area3 area3";
}

.fields-w4_1-1-3-4 {
    grid-template-areas: "area1 area1 area3 area4";
}

.fields-w4_1-1-3-3 {
    grid-template-areas: "area1 area1 area3 area3";
}

.fields-w4_1-1-1-4 {
    grid-template-areas: "area1 area1 area1 area4";
}

.fields-w4_1-1-1-1 {
    grid-template-areas: "area1 area1 area1 area1";
}


/***********************************
 * 3 Columns
 ***********************************/

.fields-w3_1-2-3 {
    grid-template-areas: "area1 area2 area3";
}

.fields-w3_1-2-2 {
    grid-template-areas: "area1 area2 area2";
}

.fields-w3_1-1-3 {
    grid-template-areas: "area1 area1 area3";
}

.fields-w3_1-1-1 {
    grid-template-areas: "area1 area1 area1";
}


/***********************************
 * 2 Columns
 ***********************************/

.fields-w2_1-2 {
    grid-template-areas: "area1 area2";
}

.fields-w2_1-1 {
    grid-template-areas: "area1 area1";
}


/***********************************
 * 1 Columns
 ***********************************/

.fields-w1_1 {
    grid-template-areas: "area1";
}

.fields {}

// Carlos 
.custom-tooltip {
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 1);
    box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 1);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 576px) {
    /* 6 Columns */
    .fields-w6_1-2-3-4-5-6,
    .fields-w6_1-2-2-4-5-6,
    .fields-w6_1-2-2-2-5-6,
    .fields-w6_1-2-2-2-2-6,
    .fields-w6_1-2-2-2-2-2,
    .fields-w6_1-2-3-3-5-6,
    .fields-w6_1-2-3-3-3-6,
    .fields-w6_1-2-3-3-3-3,
    .fields-w6_1-2-3-4-4-6,
    .fields-w6_1-2-3-4-4-4,
    .fields-w6_1-2-3-4-5-5,
    .fields-w6_1-1-3-4-5-6,
    .fields-w6_1-1-3-3-5-6,
    .fields-w6_1-1-3-3-3-6,
    .fields-w6_1-1-3-3-3-3,
    .fields-w6_1-1-1-4-5-6,
    .fields-w6_1-1-1-4-4-6,
    .fields-w6_1-1-1-4-4-4,
    .fields-w6_1-1-1-1-5-6,
    .fields-w6_1-1-1-1-5-5,
    .fields-w6_1-1-1-1-1-6,
    .fields-w6_1-1-1-1-1-1,
    /* 5 Columns */
    .fields-w5_1-2-3-4-5,
    .fields-w5_1-2-2-4-5,
    .fields-w5_1-2-2-2-5,
    .fields-w5_1-2-2-2-2,
    .fields-w5_1-2-3-3-5,
    .fields-w5_1-2-3-3-3,
    .fields-w5_1-2-3-4-4,
    .fields-w5_1-1-3-4-5,
    .fields-w5_1-1-3-3-5,
    .fields-w5_1-1-3-3-3,
    .fields-w5_1-1-1-4-5,
    .fields-w5_1-1-1-4-4,
    .fields-w5_1-1-1-1-5,
    .fields-w5_1-1-1-1-1,
    /* 4 Columns */
    .fields-w4_1-2-3-4,
    .fields-w4_1-2-2-4,
    .fields-w4_1-2-2-2,
    .fields-w4_1-2-3-3,
    .fields-w4_1-2-3-4,
    .fields-w4_1-1-3-4,
    .fields-w4_1-1-3-3,
    .fields-w4_1-1-1-4,
    .fields-w4_1-1-1-1,
    /* 3 Columns */
    .fields-w3_1-2-3,
    .fields-w3_1-2-2,
    .fields-w3_1-1-3,
    .fields-w3_1-1-1,
    /* 2 Columns */
    .fields-w2_1-2,
    .fields-w2_1-1,
    /* 1 Columns */
    .fields-w1_1 {
        grid-template-columns: 1fr !important;
        grid-template-areas: none !important;
    }
    .fields {
        grid-area: inherit !important;
    }
}


/*------------------------
 * Row and columns
 *------------------------*/

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-sm-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .order-sm-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }
    .order-sm-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .order-sm-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .order-sm-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .order-sm-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .order-sm-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .order-sm-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .order-sm-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .order-sm-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .order-sm-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .order-sm-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .order-sm-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-sm-0 {
        margin-left: 0;
    }
    .offset-sm-1 {
        margin-left: 8.333333%;
    }
    .offset-sm-2 {
        margin-left: 16.666667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.333333%;
    }
    .offset-sm-5 {
        margin-left: 41.666667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.333333%;
    }
    .offset-sm-8 {
        margin-left: 66.666667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.333333%;
    }
    .offset-sm-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-md-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-md-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-md-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-md-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-md-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-md-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-md-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .order-md-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .order-md-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .order-md-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .order-md-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .order-md-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .order-md-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .order-md-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .order-md-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .order-md-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .order-md-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .order-md-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .order-md-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .order-md-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .order-md-12 {
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-md-0 {
        margin-left: 0;
    }
    .offset-md-1 {
        margin-left: 8.333333%;
    }
    .offset-md-2 {
        margin-left: 16.666667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.333333%;
    }
    .offset-md-5 {
        margin-left: 41.666667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.333333%;
    }
    .offset-md-8 {
        margin-left: 66.666667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.333333%;
    }
    .offset-md-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-lg-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-lg-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-lg-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-lg-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-lg-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-lg-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-lg-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .order-lg-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .order-lg-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .order-lg-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .order-lg-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .order-lg-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .order-lg-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .order-lg-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .order-lg-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .order-lg-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .order-lg-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .order-lg-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .order-lg-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .order-lg-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .order-lg-12 {
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.333333%;
    }
    .offset-lg-2 {
        margin-left: 16.666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.333333%;
    }
    .offset-lg-5 {
        margin-left: 41.666667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.333333%;
    }
    .offset-lg-8 {
        margin-left: 66.666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.333333%;
    }
    .offset-lg-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .row-cols-xl-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-cols-xl-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-xl-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .row-cols-xl-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row-cols-xl-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row-cols-xl-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xl-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .order-xl-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .order-xl-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .order-xl-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .order-xl-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .order-xl-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .order-xl-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .order-xl-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .order-xl-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .order-xl-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .order-xl-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .order-xl-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .order-xl-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .order-xl-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .order-xl-12 {
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-xl-0 {
        margin-left: 0;
    }
    .offset-xl-1 {
        margin-left: 8.333333%;
    }
    .offset-xl-2 {
        margin-left: 16.666667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.333333%;
    }
    .offset-xl-5 {
        margin-left: 41.666667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.333333%;
    }
    .offset-xl-8 {
        margin-left: 66.666667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.333333%;
    }
    .offset-xl-11 {
        margin-left: 91.666667%;
    }
}