<div class="profile-menu">
    <div class="profile-menu-content">
        <div class="profile-menu-item">
            {{'AD_GlobalClient' | translate}}:<br/>
            <span *ngIf="activeClient" class="profile-menu-item-value">{{activeClient.name}}</span>
        </div>
        <div class="profile-menu-item">
            {{'AD_GlobalLanguage' | translate}}:<br/>
            <menu-select [menuItems]="languages" [activeItem]="activeLang" [images]="true" (onSelect)="selectLanguage($event)"
                         [btnImageClass]="'language-button-flag'" [itemImageClass]="'language-flag'">
            </menu-select>
        </div>
        <div class="profile-menu-item">
            {{'AD_GlobalRole' | translate}}:<br/>
            <menu-select [menuItems]="roles" [activeItem]="activeRole" (onSelect)="selectRole($event)"></menu-select>
        </div>
        <div class="profile-menu-item">
            <mat-checkbox [checked]="updateProfile" (change)="onSetDefault($event)" >{{'AD_GlobalSetDefault' | translate}}</mat-checkbox>
        </div>

        <div class="padding-5">
            <notification-panel *ngIf="message" [height]="'6em'" [mode]="'error'" [message]="message"></notification-panel>
        </div>
    </div>

    <div class="profile-menu-buttons" (click)="confirmChanges()" >
        <button mat-raised-button color="primary"><mat-icon>done</mat-icon> {{'AD_btnApply' | translate}}</button>
    </div>
</div>