<ng-container *ngIf="!readOnly">
    <div style="padding-top: 3rem" [formGroup]="autogenForm">
        <mat-checkbox [formControlName]="name"></mat-checkbox>
        <mat-label>&nbsp;{{label}}</mat-label>
    </div>
</ng-container>

<ng-container *ngIf="readOnly">
    <mat-form-field [appearance]="appearance" [formGroup]="autogenForm">
        <mat-label>{{label}}</mat-label>
        <input matInput value="{{'AD_labelYes' | translate}}" readonly class="field-read-only" *ngIf="value">
        <input matInput value="{{'AD_labelNo' | translate}}" readonly class="field-read-only" *ngIf="!value">
    </mat-form-field>
</ng-container>