<div class="container">
    <form [formGroup]="planningForm" *ngIf="!loading">
        <div class="row" *ngIf="referenceClient && referenceUser">
            <div class="col-sm-4">
                <autogen-tabledir [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_GlobalClient' | translate"
                                  [autogenForm]="planningForm" [name]="'idClient'" [reference]="referenceClient">
                </autogen-tabledir>
            </div>
            <div class="col-sm-4">
                <autogen-tabledir [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_GlobalUser' | translate"
                                  [autogenForm]="planningForm" [name]="'idUser'" [reference]="referenceUser" [values]="users">
                </autogen-tabledir>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <autogen-list [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_processPlanningExecType' | translate"
                              [autogenForm]="planningForm" [name]="'executionType'" [reference]="executionType">
                </autogen-list>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4" *ngIf="currentExecutionType !== 'FREQUENTLY'">
                <autogen-textbox [appearance]="gui.formField" [label]="'AD_processPlanningHour' | translate"
                                 [autogenForm]="planningForm" [name]="'hour'" [editorType]="'time'">
                </autogen-textbox>
            </div>
            <div class="col-sm-4" *ngIf="currentExecutionType === 'ONE_EXEC'">
                <autogen-date [appearance]="gui.formField" [label]="'AD_processPlanningExecDay' | translate"
                              [autogenForm]="planningForm" [name]="'oneExecDay'">
                </autogen-date>
            </div>
            <div class="col-sm-4" *ngIf="currentExecutionType === 'WEEKLY'">
                <autogen-list [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_processPlanningExecDay' | translate"
                              [autogenForm]="planningForm" [name]="'weekDay'" [reference]="executionDays">
                </autogen-list>
            </div>
            <div class="col-sm-4" *ngIf="currentExecutionType === 'MONTHLY'">
                <autogen-list [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_processPlanningExecDay' | translate"
                              [autogenForm]="planningForm" [name]="'monthDay'" [items]="monthDays">
                </autogen-list>
            </div>
            <div class="col-sm-4" *ngIf="currentExecutionType === 'FREQUENTLY'">
                <autogen-list [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_processPlanningExecFrequentlyMinute' | translate"
                              [autogenForm]="planningForm" [name]="'minutes'" [items]="hourMinutes">
                </autogen-list>
            </div>
            <div class="col-sm-4" *ngIf="currentExecutionType === 'FREQUENTLY'">
                <autogen-list [allowBlank]="false" [appearance]="gui.formField" [label]="'AD_processPlanningExecFrequentlyHour' | translate"
                              [autogenForm]="planningForm" [name]="'hours'" [items]="dayHours">
                </autogen-list>
            </div>
        </div>
        <div class="row" *ngIf="currentExecutionType === 'DAILY'">
            <div class="col-sm-12">
                <div class="process-planning-week-day" *ngFor="let day of executionDays.refList">
                    <autogen-yesno [appearance]="gui.formField" [label]="day.name" [autogenForm]="planningForm" [name]="day.value"></autogen-yesno>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">&nbsp;</div>
        </div>
        <div class="row" *ngIf="mustOneZero">
            <div class="col-sm-12">
                <notification-panel [message]="zeroMessage" [mode]="'error'"></notification-panel>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <notification-panel [message]="planningQuartz" [mode]="'info'"></notification-panel>
            </div>
        </div>
    </form>

    <div mat-dialog-actions class="global-dialog-actions">
        <vinco-button [buttonType]="gui.button" [color]="'accent'" [cssClass]="'form-content-actions-right'" [caption]="'AD_btnSave'" (click)="doSave()"></vinco-button>
        <vinco-button [buttonType]="gui.button" [color]="'warn'" [cssClass]="'form-content-actions-left'" [caption]="'AD_btnClearSchedule'" (click)="doRemove()"></vinco-button>
    </div>
</div>
