<form fxFlex="100" name="terminalForm" class="smart-form client-form" novalidate [formGroup]="terminalForm" >
    <mat-card class="mat-elevation-z14">
        <mat-card-title>{{'AD_GlobalTerminalCaption' | translate}}</mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
            <notification-panel *ngIf="errorMsg" [mode]="'error'" [message]="errorMsg"></notification-panel>

            <mat-form-field>
                <input matInput placeholder="{{'AD_GlobalTerminalIdentifier' | translate}}" [formControlName]="'terminalIdentifier'">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint>{{'AD_GlobalEnterTerminalIdentifier' | translate}}</mat-hint>
                <mat-error *ngIf="terminalForm.get('terminalIdentifier').errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{'AD_GlobalUser' | translate}}" [formControlName]="'username'">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>{{'AD_GlobalEnterUserTerminal' | translate}}</mat-hint>
                <mat-error *ngIf="terminalForm.get('username').errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="{{'AD_GlobalPassword' | translate}}" [formControlName]="'password'">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="terminalForm.get('password').errors?.required">{{'AD_errFieldMandatory' | translate}}</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="column" fxLayoutAlign="space-around stretch">
            <button (click)="doLink()" fxFlex="90" mat-flat-button>{{'AD_GlobalTermLink' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</form>
