<div class="autogen-table">

    <table class="table-content" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell class="select-column" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? toggleRow(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="{{column.name}}" *ngFor="let column of visibleColumns">
            <ng-container *ngIf="column.relatedField.sortable" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.relatedField.caption}} </th>
            </ng-container>
            <ng-container *ngIf="!column.relatedField.sortable" >
                <th mat-header-cell *matHeaderCellDef> {{column.relatedField.caption}} </th>
            </ng-container>
            <td mat-cell *matCellDef="let row" class="row-data">
                <ng-container *ngIf="column.reference">
                    <ng-container  [ngSwitch]="column.reference.rtype">
                        <ng-container *ngSwitchCase="'IMAGE_ENCODE'"><img [src]="row[column.name]" class="datatable-image" *ngIf="row[column.name]"/></ng-container>
                        <ng-container *ngSwitchCase="'IMAGEVIEW'"><img [src]="row[column.name]" class="datatable-image"/></ng-container>
                        <ng-container *ngSwitchCase="'FILEURL'"><a [href]="row[column.name]">Link</a></ng-container>
                        <ng-container *ngSwitchCase="'ID'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'IMAGE'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'FILE'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'TEXT'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'EMAIL'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'HTML'"><span [innerHTML]="row[column.name] | safeHtml"></span></ng-container>
                        <ng-container *ngSwitchCase="'INTEGER'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'NUMBER'">{{row[column.name] | number:'1.2-2'}}</ng-container>
                        <ng-container *ngSwitchCase="'STRING'">{{row[column.name]}}</ng-container>
                        <ng-container *ngSwitchCase="'ACTIONS'">
                            <button mat-icon-button *ngFor="let action of actions">
                                <mat-icon (click)="doCustomAction(action, row)" matTooltipPosition="above" matTooltip="{{action.name}}">{{action.icon}}</mat-icon>
                            </button>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{row | referenceRowValue : column | async}}
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!column.reference">
                    {{row[column.name]}}
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onDlbClick(row)">
        </tr>
    </table>
    <mat-paginator [length]="page.totalElements" [pageSize]="page.size" (page)="changePageInfo($event)"></mat-paginator>
</div>