<ng-container *ngIf="tab">

    <div class="autogen-sort-content" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="row">
            <div class="autogen-sort-item {{cssCol}}" *ngFor="let item of content.content" cdkDragBoundary=".autogen-sort-content" cdkDrag >
                <div class="mat-elevation-z5">
                    <div class="autogen-sort-order" *ngIf="item[sortColumnName]">{{item[sortColumnName]}}</div>
                    <autogen-card [item]="item" [fields]="fields" [gridColumns]="tab.tab.gridColumns"></autogen-card>
                </div>
            </div>
        </div>
    </div>

    <mat-paginator [length]="page.totalElements" [pageSize]="page.size" (page)="changePageInfo($event)"></mat-paginator>

    <!-- Form buttons -->
    <div class="form-actions">
        <div class="pull-left">
            <div class="pull-left autogen-sort-filter-start">
                <autogen-textbox [editorType]="'integer'" [label]="'AD_StepStart' | translate" [autogenForm]="autogenForm" [name]="'sortStart'"></autogen-textbox>
            </div>
            <div class="pull-left autogen-sort-filter-increment">
                <autogen-list [readOnly]="false" [allowBlank]="false" [label]="'AD_StepSize' | translate"
                              [autogenForm]="autogenForm" [name]="'sortIncrement'" [items]="sortItems">
                </autogen-list>
            </div>
        </div>

        <vinco-button [buttonType]="'mat-raised-button'" [color]="'accent'" [cssClass]="'form-content-actions-right'"
                      [caption]="'AD_btnSave'" (click)="doSave()">
        </vinco-button>
    </div>

</ng-container>
