.autogen-sort-content {
    padding: 2rem;
}

.autogen-sort-item {
    margin-bottom: 2rem;
}

.autogen-sort-filter-start {
    width: 18rem;
    margin-right: 2rem;
}

.autogen-sort-filter-increment {
    width: 12rem;
}

.autogen-sort-order {
    position: absolute;
    right: 2rem;
    top: 1rem;
    padding: 0.3rem 0.7rem;
    background-color: #28a745;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}